{% extends 'storage/filesystem_detail.html' %}

{% block object_detail %}
<table class="table table-striped table-condensed">
    <tr>
        <td colspan="1">
            <button class="btn btn-primary btn-large btn-block">
                <span class="label-caps">
                    <small>filesystem</small>
                </span>
                {{ object.name }}
            </button>
        </td>
        <td colspan="5"><div id="graph_iops"></div></td>
    </tr>
    <tr>
        <td>
            <i class="icon-adjust"></i>
            <small>usage:</small>
        </td>
        <td>
            <button class="btn btn-mini" >{{ object.props.used.value }}/{{ object.pool.props.capacity.value }}</button>
        </td>

        <td>
            <i class="icon-resize-small"></i>
            <small>compression:</small>

            {% if object.props.compression.value == True %}
            <button class="btn btn-mini btn-success">On</button>
            {% else %}
            <button class="btn btn-mini btn-inverse">Off</button>
            {% endif %}
        </td>

        <td>yup</td>

        <td>
            <i class="icon-th"></i>
            <small>dedup:</small>

            {% if object.props.dedup.value == True %}
            <button class="btn btn-mini btn-success">On</button>
            {% else %}
            <button class="btn btn-mini btn-inverse">Off</button>
            {% endif %}
        </td>

        <td>yup</td>

    </tr>
    <tr>
        <td><small>
            &nbsp;&raquo;
            children:
        </small></td>
        <td><small>
            {{ object.props.usedbychildren.value }}
        </small></td>
        <td><small>
            &nbsp;&raquo;
            ratio:
        </small></td>
        <td><small>
             {{ object.props.compressratio }}
        </small></td>
        <td><small>
             &nbsp;&raquo;
            ratio:
        </small></td>
        <td><small>
             {{ object.pool.props.dedupratio }}
        </small></td>
     </tr>
    <tr>
        <td><small>
            &nbsp;&raquo;
            snapshots:
        </small></td>
        <td><small>
             {{ object.props.usedbysnapshots }}
        </small></td>
        <td><small>
            <i class="icon-tint"></i>
            quota:
        </small></td>
        <td><small>
             {{ object.props.quota }}
        </small></td>
        <td><small>
            <i class="icon-tint"></i>
            quota:
        </small></td>
        <td><small>
             {{ object.props.quota }}
        </small></td>
     </tr>
    <tr>
        <td><small>
            &nbsp;&raquo;
            ref:
        </small></td>
        <td><small>
             {{ object.props.usedbyrefreservation }}
        </small></td>
        <td><small>
            <i class="icon-tint"></i>
            quota:
        </small></td>
        <td><small>
             {{ object.props.quota }}
        </small></td>
        <td><small>
            <i class="icon-tint"></i>
            quota:
        </small></td>
        <td><small>
            {{ object.props.quota }}
        </small></td>
     </tr>
</table>

<blockquote>
<pre>
Filesystem: {{ object.dumps|pprint }}
</pre>
</blockquote>

<script>
require(['pool/analytics'], function(pool_analytics) {

// Analytics using Cubism
pool_analytics.pool = '{{ object.pool.name }}';
pool_analytics.small_stats();

});
</script>

{% endblock %}
