{% extends 'storage/filesystem_detail.html' %}

{% block object_detail %}
<table class="table table-striped no-vertical-padding">
    <tr>
        <td colspan="2">
            <a href="#"><button class="btn btn-large btn-block btn-{{ object.health_state_str }}">
                <span class="label-caps">
                    <small>pool</small>
                    {{ object.properties.health }}
                </span>
            </button></a>
        </td>
        <td colspan="4">
            <div id="graph_iops"></div>
        </td>
    </tr>
</table>

<table class="table table-striped no-vertical-padding">
    <tr>
        <td>
            <i class="icon-adjust"></i>
            <small>usage:</small>
        </td>
        <td class="defs_val">
            <button class="btn btn-mini">{{ object.properties.allocated }}/{{ object.properties.capacity }}</button>
        </td>

        <td>
            <i class="icon-adjust"></i>
            <small>free:</small>
        </td>
        <td class="defs_val">
            <button class="btn btn-mini">{{ object.properties.free }}</button>
        </td>

        <td>
            <i class="icon-adjust"></i>
            <small>total:</small>
        </td>
        <td class="defs_val">
            <button class="btn btn-mini">{{ object.properties.size }}</button>
        </td>
    </tr>

    <tr>
        <td>
            <i class="icon-cog"></i>
            <small>dedup:</small>
        </td>
        <td class="defs_val">
            <!-- TODO bring up dedup config popover -->
            <!--<button class="btn btn-mini btn-inverse">{{ object.properties.dedupditto }}</button>-->
            <!--<button class="btn btn-mini btn-link">{{ object.properties.dedupratio }}</button>-->
            <button class="btn btn-mini btn-inverse">{{ object.properties.dedupratio }}/{{ object.filesystem.properties.dedup }}</button>
        </td>

        <td>
            <i class="icon-cog"></i>
            <small>compression:</small>
        </td>
        <td class="defs_val">
            <button class="btn btn-mini btn-inverse">{{ object.filesystem.properties.compressratio }}/{{ object.filesystem.properties.compress }}</button>
        </td>

        <td>
            <i class="icon-cog"></i>
            <small>Txg:</small>
        </td>
        <td class="defs_val">
            <button class="btn btn-mini" title="Created: {{ object.created }}; Last Updated: {{ object.modified }}">{{ object.txg }}</button>
        </td>
    </tr>
</table>

<table class="table table-striped">
    <!--<caption>Device summary and status</caption>-->
    <thead>
        <tr>
            <th>Type</th>
            <th></th>
            <th>Device</th>
            <th>Size</th>
            <th>Health</th>
            <!--<th>SMART</th>-->
            <!--<th>Tasks</th>-->
        </tr>
    </thead>
    <tbody>
        {% for pvdev in object.vdevs %}
        {% with children=pvdev.children %}{% with rowspan=children|length %}
        {% for vdev in children %}

        <tr>
            {% if forloop.first %}
            <td rowspan="{{ rowspan }}">
                <!--<button class="btn btn-mini">-->
                {{ pvdev.type }}
                <!--</button>-->
            </td>
            {% endif %}

            <td>
                {% if pvdev.is_parent %}
                <!--<button class="btn btn-mini">-->
                    {{ vdev.type }}
                <!--</button>-->
                {% endif %}
            </td>

            <td width="80%">
                <!-- Popover on click with device tasks, detach/attach/remove/replace, etc -->
                <a href="#">
                    <!--<button class="btn btn-mini {% if vdev.resilvering %}btn-warning{% else %}btn-link{% endif %}">-->
                        {{ vdev.path_pretty }}
                    <!--</button>-->
                </a>
            </td>

            <td>
                {{ vdev.asize_pretty }}
            </td>

            <td>
                <!-- Popover on click oh health status, do smart scan, etc -->
                <a href="#">
                    <button class="btn btn-mini btn-success">{{ vdev.health }}</button>
                </a>
            </td>
        </tr>

        {% endfor %}
        {% endwith %}{% endwith %}
        {% endfor %}

        {% comment %}
        <tr>
            <td rowspan="2">mirror</td>
            <td>scsi-SATA_Hitachi_HDS7230_MN1240F33EN0HD</td>
            <td><button class="btn btn-mini btn-success">Good</button></td>
            <td>
                <button class="btn btn-mini">SMART</button>
                <button class="btn btn-mini btn-danger">Remove</button>
            </td>
        </tr>
        <tr>
            <td>scsi-SATA_Hitachi_HDS7230_MN1240F33EN0HD</td>
            <td><button class="btn btn-mini btn-success">Good</button></td>
            <td>
                <button class="btn btn-mini">SMART</button>
                <button class="btn btn-mini btn-danger">Remove</button>
            </td>
        </tr>


        <tr>
            <td>available</td>
            <td>scsi-SATA_Hitachi_HDS7230_MN1240F33EN0HD</td>
            <td><button class="btn btn-mini btn-success">Good</button></td>
            <td>
                <button class="btn btn-mini btn-success">Add</button>
            </td>
        </tr>
        <tr>
            <td>available</td>
            <td>scsi-SATA_Hitachi_HDS7230_MN1240F33EN0HD</td>
            <td><button class="btn btn-mini btn-success">Good</button></td>
            <td>
                <button class="btn btn-mini btn-success">Add</button>
            </td>
        </tr>
        {% endcomment %}
    </tbody>

    {% comment %}
    <!--<caption>Device summary and status</caption>-->
    <thead>
        <tr>
            <th>Type</th>
            <th></th>
            <th>Volume Name</th>
            <th>Size</th>
            <th>Health</th>
            <!--<th>SMART</th>-->
            <!--<th>Tasks</th>-->
        </tr> 
        </tr>
    </thead>
    <tbody>
        {% for obj in pool.volumes %}
        <tr>
            <td colspan="2">volume</td>

            <td width="90%">
                <a href="{{ obj.get_absolute_url }}">
                    {{ obj.name }}
                </a>
            </td>

            <td>{{ obj.properties.used }}</td>

            <td>
                <!-- Popover on click oh health status, do smart scan, etc -->
                <a href="#">
                    <button class="btn btn-mini btn-error">Unavail</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

    <!--<caption>Device summary and status</caption>-->
    <thead>
        <tr>
            <th>Type</th>
            <th></th>
            <th>Filesystem Name</th>
            <th>Size</th>
            <th>Health</th>
            <!--<th>SMART</th>-->
            <!--<th>Tasks</th>-->
        </tr>
    </thead>
    <tbody>
        {% for obj in pool.filesystems %}
        <tr>
            <td colspan="2">filesystem</td>

            <td width="90%">
                <a href="{{ obj.get_absolute_url }}">
                    {{ obj.name }}
                </a>
            </td>

            <td>{{ obj.properties.used }}</td>

            <td>
                <!-- Popover on click oh health status, do smart scan, etc -->
                <a href="#">
                    <button class="btn btn-mini btn-warning">Warn</button>
                    <!--<button class="btn btn-mini btn-warning">Degraded</button>-->
                    <!--<button class="btn btn-mini btn-danger">Del</button>-->
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% endcomment %}
</table>




<blockquote>
    <pre>
        Pool: {{ object.dumps|pprint }}
    </pre>
</blockquote>

<script>
// Analytics using Cubism
pool_analytics.pool = '{{ object.name }}';
pool_analytics.cube_url = '{{ CUBE_URL }}';
pool_analytics.small_stats();
</script>

{% endblock %}
