{% extends "base_site.html" %}
{% from "bootstrap/macros.html" import alert  %}
{% from "bootstrap/forms/macros.html" import field, input  %}

{% block css_extra %}
<style></style>
{% endblock %}

{# Navbar is set in the app-specific override "base.html #}

{% block pre_content %}
{% endblock %}

{% block content %}

<!-- Pool Detail Title -->
<div class="row">
    <div class="span12">
        <ul id="pool-breadcrumb" class="breadcrumb">
            <li class="static">
                <a href="#">pools</a>
                <span class="divider">&raquo;</span>
            </li>
            {% include 'storage/pool_breadcrumb.html' %}
        </ul>
    </div>
</div>

<!-- Pool Detail -->
<div class="row">
    <div class="span3 sidebar-nav" style="max-width: 220px;">
        <div class="accordion" id="sidebar-nav-accordion">

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar-nav-accordion" href="#collapse-sidebar-nav-accordion1">
                        Pools
                    </a>
                </div>
                <div id="collapse-sidebar-nav-accordion1" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-pills nav-stacked">
                            {% for obj in pools %}
                            {% if object.type == obj.type and object.name == obj.name %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="/storage/pools/detail/{{ obj.name|urlize }}">
                                    <small><span class="muted">POOL</span></small>&nbsp;
                                    {{ obj.name }}
                                </a>
                            </li>
                            {% endfor %}

                            <li style="text-align: center;">
                                <a href="#add-pool-modal" data-toggle="modal">
                                    <span class="label label-info">add pool</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar-nav-accordion" href="#collapse-sidebar-nav-accordion2">
                        Filesystems (NAS)
                    </a>
                </div>
                <div id="collapse-sidebar-nav-accordion2" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-pills nav-stacked">
                            {% for obj in filesystems|sort(attribute='name') %}
                            {% if object.type == obj.type and object.name == obj.name %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="/storage/filesystems/detail/{{ obj.name|urlize }}">
                                    <small><span class="muted">FS&nbsp;&nbsp;</span></small>&nbsp;
                                    {{ obj.name }}
                                </a>
                            </li>
                            {% endfor %}

                            <li style="text-align: center;">
                                <a href="#add-filesystem-modal" data-toggle="modal">
                                    <span class="label label-info">add filesystem</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar-nav-accordion" href="#collapse-sidebar-nav-accordion3">
                        Volumes (SAN)
                    </a>
                </div>
                <div id="collapse-sidebar-nav-accordion3" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-pills nav-stacked">
                            {% for obj in volumes|sort(attribute='name') %}
                            {% if object.type == obj.type and object.name == obj.name %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="/storage/volumes/detail/{{ obj.name|urlize }}">
                                    <small><span class="muted">VOL&nbsp;</span></small>&nbsp;
                                    {{ obj.name }}
                                </a>
                            </li>
                            {% endfor %}

                            <li style="text-align: center;">
                                <a href="#add-volume-modal" data-toggle="modal">
                                    <span class="label label-info">add volume</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar-nav-accordion" href="#collapse-sidebar-nav-accordion4">
                        Targets (SAN)
                    </a>
                </div>
                <div id="collapse-sidebar-nav-accordion4" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-pills nav-stacked">
                            {% for obj in targets %}
                            {% if object.type == obj.type and object.wwn == obj.wwn %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="/storage/targets/detail/{{ obj.wwn|urlize }}">
                                    <small><span class="muted">TGT&nbsp;</span></small>&nbsp;
                                    <span class="label-caps">{{ obj.fabric_module.name }}</span> &nbsp;
                                    {{ obj.short_wwn() }}
                                </a>
                            </li>
                            {% endfor %}

                            <li style="text-align: center;">
                                <a href="#add-target-modal" data-toggle="modal">
                                    <span class="label label-info">add target</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="span9">
        <div id="filesystem-info" style="padding-left: 10px">
            {% block object_content %}
                {% if pool and not filesystem %}
                {% set filesystem = pool.filesystem %}
                {% endif %}
                {% include 'storage/pool_detail.html' %}
            {% endblock %}
        </div>
    </div>
</div>

<div class="modal fade hide" id="add-filesystem-modal">
    <form class="form-horizontal">
        <fieldset>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <legend>
                    Add new filesystem
                </legend>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="name">
                        <p class="help-block">
                            Allowed characters: [A-z0-9_/-]
                        </p>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Add</a>
    </div>
</div>


<script type="text/javascript">

// Open up the right accordion panel automagically
$("#sidebar-nav-accordion")
    .find("li.active")
    .parent()
    .parent()
    .parent()
    .addClass('in')
    .prev()
    .addClass('active');

</script>


{% endblock %}

