{% extends 'storage/filesystem_detail.html' %}

{% load url from future %}


{% block object_detail %}

<!-- Pool Analytics -->
<select data-placeholder="Change graph" id="graph-select" class="chosen-select">
    <option value="{{ graph }}">{{ graph }}</option>
    {% for v in graph_list %}
    {% if not v == graph %}
    <option value="{{ v }}">{{ v }}</option>
    {% endif %}
    {% endfor %}
</select>

<select data-placeholder="Time window" id="time-window-select" class="chosen-select">
    {% for k,v in time_window_list.items %}
    {% if k == time_window %}
    <option value="{{ k }}">{{ v }}</option>
    {% endif %}
    {% endfor %}

    {% for k,v in time_window_list.items %}
    {% if not k == time_window %}
    <option value="{{ k }}">{{ v }}</option>
    {% endif %}
    {% endfor %}
</select>

<br />
<br />
<div id="chart" style="width:100%; height:500px">
  <svg />
</div>

<script>
jQuery(document).ready(function($) {

// Change page URL upon changing chosen dropdown
function chart_select() {
    var chart_name = $('#graph-select').val(),
        time_window = $('#time-window-select').val();
    url = '{% url 'pool-analytics' slug=object.name name="graph_name" time_window="999" %}';
    url = url.replace("graph_name", chart_name);
    url = url.replace("999", time_window);
    window.location.href = url;
}
$('.chosen-select').chosen().change(chart_select);

//
// Analytics using nv.d3
//
pool_analytics.pool = '{{ object.name }}';

// Needed vars for say, the render URL ;)
var time_window = {{ time_window }};
var start = Math.round(new Date() / 1000);
start = start - time_window;

// Nab JSON, send to the graph factory
d3.json('{% url 'pool-analytics-render' slug=object.name name=graph time_window=time_window %}'
    + '?start=' + start
    , function(data) {
        return pool_analytics.graph('{{ graph }}', {{ time_window }}, data);
    });


});
</script>

{% endblock %}
