{% extends 'storage/filesystem_detail.html' %}

{% block object_detail %}

<!-- Pool Analytics -->
<select data-placeholder="Change graph" id="graph-select" class="chosen-select">
    <option value="{{ graph }}">{{ graph }}</option>
    {% for v in graph_list %}
    {% if not v == graph %}
    <option value="{{ v }}">{{ v }}</option>
    {% endif %}
    {% endfor %}
</select>

<select data-placeholder="Time window" id="time-window-select" class="chosen-select">
    {% for k,v in time_window_list.items %}
    {% if k == time_window %}
    <option value="{{ k }}">{{ v }}</option>
    {% endif %}
    {% endfor %}

    {% for k,v in time_window_list.items %}
    {% if not k == time_window %}
    <option value="{{ k }}">{{ v }}</option>
    {% endif %}
    {% endfor %}
</select>

<br />
<br />
<div id="chart" style="width:100%; height:500px">
  <svg />
</div>

<script>

$('.chosen-select').chosen().change(chart_select);;

function chart_select(chart_name, time_window) {
    var chart_name = $('#graph-select').val(),
        time_window = $('#time-window-select').val();
    url = '{% url pool-analytics slug=object.name name="graph_name" time_window="999" %}';
    url = url.replace("graph_name", chart_name);
    url = url.replace("999", time_window);
    window.location.href = url;
}

draw_graph('{{ graph }}');

function draw_graph(chart_name) {
// Wrapping in nv.addGraph allows for '0 timeout render', stors rendered charts in nv.graphs, and may do more in the future... it's NOT required
nv.addGraph(function() {

  //if (nv.graphs.length)
    //nv.graphs[0] = chart;
    //var chart = nv.graphs[0];
  //else
    var chart = nv.models.stackedAreaChart().clipEdge(true);
    //var chart = nv.models.lineChart();

  // chart sub-models (ie. xAxis, yAxis, etc) when accessed directly, return themselves, not the partent chart, so need to chain separately
  chart.xAxis
    .axisLabel('when')
    .tickSize(5,5,5)
    //.tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });
    //.tickPadding(20)
    .tickFormat(function(d) { return d3.time.format('%m/%e %I:%M%p')(new Date(d)) });
    //.rotateLabels(-45);

  chart.yAxis
    .axisLabel(chart_name)
    .tickFormat(d3.format(',.3s'));

  var start = Math.round(new Date() / 1000);
  start = start - {{ time_window }};

  function eat_data(data) {
    if (!data) return false;

    data = data.map(function(series) {
      series.values = series.values.map(function(d) {
        return { x: d[0], y: d[1] }
      });
      return series;
    });

    d3.select('#chart svg')
      .datum(data)
      .transition().duration(1000).call(chart);
  }

  /*
  d3.json(window.location.href + "/render"
      + "?start=" + start
      , eat_data);
  */

  d3.json('{% url pool-analytics-render slug=object.name name=graph time_window=time_window %}'
    + '?start=' + start
    , eat_data);

  //TODO: Figure out a good way to do this automatically
  nv.utils.windowResize(chart.update);

  return chart;
});
}

</script>

{% endblock %}
