{% extends "base_site.html" %}

{% load url from future %}
{% load cache %}
{% load crispy_forms_tags %}
{% load jsonify %}

{% block css_extra %}
<style></style>
{% endblock %}

{# Navbar is set in the app-specific override "base.html #}

{% block pre_content %}
{% endblock %}

{% block content %}

{% comment %}
<!--Pool Detail Title-->
<div class="row">
    <div class="span12">
        <ul id="pool-breadcrumb" class="breadcrumb">
            {% include 'storage/pool_breadcrumb.html' %}
        </ul>
    </div>
</div>
{% endcomment %}

{# cache 15 storage-side-nav #}
<!-- Storage Sidenav -->
<div class="row">
    <div class="span3 sidebar-nav" style="max-width: 220px;">
        <div class="accordion" id="sidebar-nav-accordion">

            {% for object_type, object_type_objects in object_types_objects.items %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar-nav-accordion" href="#collapse-sidebar-nav-accordion{{ forloop.counter }}">
                        {{ object_type|capfirst }}s
                    </a>
                </div>
                <div id="collapse-sidebar-nav-accordion{{ forloop.counter }}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-pills nav-stacked">
                            {% for obj in object_type_objects %}
                            {% if object.type == obj.type %}
                                {% if object.type == 'target' and obj.wwn == object.wwn %}
                            <li class="active wwn">
                                {% else %}
                                    {% if object.type != 'target' and obj.name == object.name %}
                            <li class="active">
                                    {% else %}
                            <li>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                            <li>
                            {% endif %}
                                {% if obj.type == 'target' %}
                                <a href="{% url 'target' slug=obj.wwn %}">
                                {% else %}
                                <a href="{{ obj.get_absolute_url }}">
                                {% endif %}
                                    <small><span class="muted">
                                            {% if obj.type == 'filesystem' %}
                                                FS
                                            {% endif %}
                                            {% if obj.type == 'pool' %}
                                                POOL
                                            {% endif %}
                                            {% if obj.type == 'volume' %}
                                                VOL
                                            {% endif %}
                                            {% if obj.type == 'target' %}
                                                TGT
                                            {% endif %}
                                    </span></small>&nbsp;
                                    {% if obj.type == 'target' %}
                                        {{ obj.short_wwn }}
                                    {% else %}
                                        {{ obj.name }}
                                    {% endif %}
                                </a>
                            </li>
                            {% endfor %}

                            <li style="text-align: center;">
                                {#<a href="#add-{{ object_type }}-modal" data-toggle="modal">add {{ object_type }}</a>#}
                                <a href="{% spaceless %}
                                    {% if object_type == 'pool' %}
                                        {% url 'pool-create' %}
                                    {% else %}
                                        #
                                    {% endif %}
                                    {% endspaceless %}" class="{{ object_type }}-create">
                                    <span class="label label-info">add {{ object_type }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>

    <div class="span9">
        <div id="filesystem-info" style="padding-left: 10px">
            {% block object_content %}
            {% endblock %}
        </div>
    </div>
</div>
{# endcache #}

<!-- FIXME HTML hackery for modal popover creation forms -->
<div class="hide">
    {% for object_type, object_type_forms in object_types_forms.items %}
    {% for object_type_form_type, object_type_form in object_type_forms.items %}
    <div id="{{ object_type }}-{{ object_type_form_type }}-form-container">
        {% crispy object_type_form %}
    </div>
    {% endfor %}
    {% endfor %}
</div>

<!-- FIXME Javascript hackery for modal popover creation forms -->
<script>
{% for object_type, object_type_forms in object_types_forms.items %}
{% for object_type_form_type, object_type_form in object_type_forms.items %}

$('a.{{ object_type }}-{{ object_type_form_type }}').popover({
    title: 'Create {{ object_type|capfirst }}',
    placement: 'bottom',
    content: $("#{{ object_type }}-{{ object_type_form_type }}-form-container").html(), });

{% endfor %}
{% endfor %}
</script>



{% comment %}
<div class="modal fade hide" id="add-filesystem-modal">
    <form class="form-horizontal">
        <fieldset>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <legend>
                    Add new filesystem
                </legend>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="name">
                        <p class="help-block">
                            Allowed characters: [A-z0-9_/-]
                        </p>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Add</a>
    </div>
</div>
{% endcomment %}


{% endblock %}

