{% extends 'storage/filesystem_detail.html' %}

{% block object_detail %}
<table class="table table-striped">
    <tr>
        <td colspan="1">
            {% if object.props.health == 'ONLINE' %}
            <button class="btn btn-large btn-block btn-primary">
            {% elif object.props.health == 'DEGRADED' %}
            <div class="alert alert-warning">This object is in a <strong>DEGRADED</strong> state.</div>
            <button class="btn btn-large btn-block btn-warning">
            {% else %}
            <div class="alert alert-error"><strong>ERROR</strong> This object is in an errored state.</div>
            <a href="{{ object.get_absolute_uri }}">
                <button class="btn btn-large btn-block btn-error">
                {% endif %}
                    <span class="label-caps">
                        <small>pool</small>
                    </span>
                </button>
            </a>
        </td>
        <td colspan="5"><div id="graph_iops"></div></td>
    </tr>

    <tr>
        <td>Usage: {{ object.props.capacity|default:"0b" }} ({{ object.props.allocated }})</td>
        <td>Free: {{ object.props.free }}</td>
        <td>Total: {{ object.props.size }}</td>
    </tr>
    <tr>
        <td>Dedup Ratio: {{ object.props.dedupratio }} ({{ object.filesystem.props.dedup }} at object level)</td>
        <td>Upon device hardware error routine: {{ object.props.failmode }}</td>
        <td>Replace faulty device automatically? {{ object.props.autoreplace }}</td>
    </tr>
    <tr>
        <td>Grow object with device? {{ object.props.autoexpand }}</td>
        <td>Compression Ratio: {{ object.filesystem.props.compressratio }} ({{ object.filesystem.props.compression }} at object level)</td>
        <td>Record size: {{ object.filesystem.props.recordsize }}</td>
    </tr>
</table>

<table class="table table-striped">
    <caption>Device summary and status</caption>
    <thead>
        <tr>
            <th>Type</th>
            <th>Device ID(s)</th>
            <th>Health</th>
            <th>Tasks</th>
        </tr>
    </thead>
    <tbody>
        {% for vdev in object.vdevs %}
        <tr>
            {% if vdev.type == 'mirror' %}
            <td rowspan="2">
            {% else %}
            <td>
            {% endif %}
                {{ vdev.type }}
            </td>
            <td>
                {{ vdev.path_pretty }} | {{ vdev.vdev_id }} | {{ vdev.asize_pretty }}
            </td>
            <td>
                <a href="{{ vdev.get_absolute_url }}">
                    <button class="btn btn-mini btn-success">{{ vdev.health }}</button>
                </a>
            </td>
            <td>
                {% if vdev.type == 'mirror' %}
                <button class="btn btn-mini btn-danger">Remove</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

        <tr>
            <td rowspan="2">mirror</td>
            <td>scsi-SATA_Hitachi_HDS7230_MN1240F33EN0HD</td>
            <td><button class="btn btn-mini btn-success">Good</button></td>
            <td>
                <button class="btn btn-mini">SMART</button>
                <button class="btn btn-mini btn-danger">Remove</button>
            </td>
        </tr>
        <tr>
            <td>scsi-SATA_Hitachi_HDS7230_MN1240F33EN0HD</td>
            <td><button class="btn btn-mini btn-success">Good</button></td>
            <td>
                <button class="btn btn-mini">SMART</button>
                <button class="btn btn-mini btn-danger">Remove</button>
            </td>
        </tr>


        <tr>
            <td>available</td>
            <td>scsi-SATA_Hitachi_HDS7230_MN1240F33EN0HD</td>
            <td><button class="btn btn-mini btn-success">Good</button></td>
            <td>
                <button class="btn btn-mini btn-success">Add</button>
            </td>
        </tr>
        <tr>
            <td>available</td>
            <td>scsi-SATA_Hitachi_HDS7230_MN1240F33EN0HD</td>
            <td><button class="btn btn-mini btn-success">Good</button></td>
            <td>
                <button class="btn btn-mini btn-success">Add</button>
            </td>
        </tr>

   </tbody>
</table>

<blockquote>
    <pre>
        Pool: {{ object.dumps|pprint }}
    </pre>
</blockquote>

<script>
// Analytics using Cubism
pool_analytics.pool = '{{ object.name }}';
pool_analytics.small_stats();
</script>

{% endblock %}
