{% extends 'storage/target_base.html' %}

{% block object_detail %}
<table class="table table-striped table-condensed">
    <tr>
        <td>
            <button class="btn btn-primary btn-large btn-block">
                <span class="label-caps">
                    <small>{{ object.type }}</small>
                </span>
                {{ object.short_wwn() }}
            </button>
        </td>
        <td colspan="5"><div id="graph_iops"></div></td>
    </tr>
    <tr>
        <td>
            <i class="icon-adjust"></i>
            <small>usage:</small>
        </td>
        <td>
            <button class="btn btn-mini" >{{ object.used or 0 }}/{{ object.capacity }}</button>
        </td>
        <td colspan="2">
            <i class="icon-resize-small"></i>
            <small>compression:</small>
            {% if object.compression %}
            <button class="btn btn-mini btn-success">On</button>
            {% else %}
            <button class="btn btn-mini btn-inverse">Off</button>
            {% endif %}
        </td>
        <td colspan="2">
            <i class="icon-th"></i>
            <small>dedup:</small>
            {% if object.dedup %}
            <button class="btn btn-mini btn-success">On</button>
            {% else %}
            <button class="btn btn-mini btn-inverse">Off</button>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><small>
            &nbsp;&raquo;
            children:
        </small></td>
        <td><small>
            {{ object.usedbychildren }}
        </small></td>
        <td><small>
            &nbsp;&raquo;
            ratio:
        </small></td>
        <td><small>
             {{ object.compressratio }}
        </small></td>
        <td><small>
             &nbsp;&raquo;
            ratio:
        </small></td>
        <td><small>
             {{ object.dedupratio }}
        </small></td>
     </tr>
    <tr>
        <td><small>
            &nbsp;&raquo;
            snapshots:
        </small></td>
        <td><small>
             {{ object.usedbysnapshots }}
        </small></td>
        <td><small>
            <i class="icon-tint"></i>
            quota:
        </small></td>
        <td><small>
             {{ object.quota }}
        </small></td>
        <td><small>
            <i class="icon-tint"></i>
            quota:
        </small></td>
        <td><small>
             {{ object.quota }}
        </small></td>
     </tr>
    <tr>
        <td><small>
            &nbsp;&raquo;
            ref:
        </small></td>
        <td><small>
             {{ object.usedbyrefreservation }}
        </small></td>
        <td><small>
            <i class="icon-tint"></i>
            quota:
        </small></td>
        <td><small>
             {{ object.quota }}
        </small></td>
        <td><small>
            <i class="icon-tint"></i>
            quota:
        </small></td>
        <td><small>
            {{ object.quota }}
        </small></td>
     </tr>
</table>

<table class="table table-striped table-condensed">
    <caption>
        Target LUN Mapping:
    </caption>
    <thead>
        <tr>
            <th>tpg</th>
            <th>lun</th>
            <th>backstore</th>
            <th>fabric</th>
            <th>tasks</th>
        </tr>
    </thead>
    <tbody>
        {% for tpg in object.tpgs %}
        {% for lun in tpg.luns %}
        <tr>
            <td>
                tpg{{ tpg.tag }}
                {% if tpg.enable == 0 %}
                <button class="btn btn-mini btn-inverse tpg-toggle" data-tag="{{ tpg.tag }}" data-enable="0">Off</button>
                {% else %}
                <button class="btn btn-mini btn-success tpg-toggle" data-tag="{{ tpg.tag }}" data-enable="1">On</button>
                {% endif %}
            </td>
            <td>
                lun{{ lun.lun }}
            </td>
            <td>
                {% with lun_volume = lun.storage_object.get_volume() %}
                <a href="{{ lun_volume.get_absolute_url('detail') }}">
                    {{ lun_volume.name }}
                </a>
                {% endwith %}
            </td>
            <td>
                <span class="label-caps">{{ object.fabric_module.name }}</span>
            </td>
            <td>
                <button class="btn btn-mini btn-danger">x</button>
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>

<div>
    <a href="#add-lun-mapping-modal" data-toggle="modal">
        <span class="label label-info" style="text-align: right;">
            add lun mapping
        </span>
    </a>
</div>
<br />


<blockquote>
<pre>
{{ object.type|capitalize }}: {{ object.__dict__|pprint }}
</pre>
</blockquote>


<div class="modal fade hide" id="add-lun-mapping-modal">
    <form class="form-horizontal" method="POST">{% csrf_token %}
        <fieldset>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="icon-close"></i>
                </button>
                <legend>
                    Add LUN Mapping
                </legend>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="name">Volume</label>
                    <div class="controls">
                        <input type="hidden" name="target_wwn" value="{{ object.wwn }}"/>

                        <select data-placeholder="volume" class="chosen-select">
                            {% for v in volumes %}
                            <option value="{{ v.name }}">{{ v.name }}</option>
                            {% endfor %}
                        </select><br />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">TPG</label>
                    <div class="controls">
                        <select data-placeholder="tpg" class="chosen-select">
                            {% for tpg in object.tpgs %}
                            <option value="{{ tpg.tag }}">{{ tpg.tag }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal"><button class="btn">Close</button></a>
            <button type="submit" class="btn btn-primary btn-submit">Add</button>
        </div>
    </form>
</div>



<div class="modal fade hide" id="add-target-modal">
    <form class="form-horizontal">
        <fieldset>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <legend>
                    Add new filesystem
                </legend>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="name">
                        <p class="help-block">
                            Allowed characters: [A-z0-9_/-]
                        </p>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Add</a>
    </div>
</div>



<script>

$('.chosen-select').chosen();

function tpg_toggle(event) {
    var self = this;
    var enable = 1;
    if ($(this).data('enable') == 1)
        enable = 0;

    var tag = $(this).data('tag');
    var data = {target_wwn: '{{ object.wwn }}',
                tag: tag,
                enable: enable,
                };

// send form data
//$.post("test.php", $("#testform").serialize());

    $.post(window.location.href+"/tpg/"+tag+"/update", data,
        function(data) {
            console.log(data);
            $(self).toggleClass("btn-inverse")
                .toggleClass("btn-success")
                .data("enable", data.enable)
            if (data.enable == 1)
                $(self).html("On");
            else
                $(self).html("Off");
        }, "json");
}

$('.tpg-toggle').on('click', tpg_toggle);

</script>

<script>
//
var step = +cubism.option("step", 3e5);

//
var context = cubism.context()
    .step(step)
    .size(470);

//
var cube = context.cube("http://localhost:1081");

/*
// Add top and bottom axes to display the time.
d3.select("#graph_iops").selectAll(".axis")
    .data(["top", "bottom"])
  .enter().append("div")
    .attr("class", function(d) { return d + " axis"; })
    .each(function(d) { d3.select(this).call(context.axis().ticks(12).orient(d)); });

// Add a mouseover rule.
d3.select("#graph_iops").append("div")
    .attr("class", "rule")
    .call(context.rule());
*/

d3.select("#graph_iops")
  .selectAll(".horizon")
    .data([
      {title: "iops", metric: cube.metric('sum(pool_iostat(iops_read + iops_write).eq(pool,"{{ object.name }}"))')},
      {title: "bandwidth", metric: cube.metric('sum(pool_iostat(bandwidth_read + bandwidth_write).eq(pool,"{{ object.name }}"))')},
      //{title: "iops", metric: cube.metric('sum(pool_iostat(iops_read + iops_write).eq(pool,"{{ object.name }}"))').divide(step)},
      //{title: "bandwidth", metric: cube.metric('sum(pool_iostat(bandwidth_read + bandwidth_write).eq(pool,"{{ object.name }}"))').divide(step)},
    ])
  .enter().append("div")
    .attr("class", "horizon")
  .call(context.horizon()
    .title(function(d) { return d.title; })
    .metric(function(d) { return d.metric; })
    .height(20)
  );

</script>






{% endblock %}
