{% extends 'storage/target_base.html' %}

{% load url from future %}


{% block object_detail %}


<table class="table table-striped no-vertical-padding">
    <!--<caption>              -->
    <!--    Target LUN Mapping:-->
    <!--</caption>             -->
    <thead>
        <tr>
            <th>tpg</th>
            <th>lun</th>
            <th>backstore</th>
            <th>tasks</th>
        </tr>
    </thead>
    <tbody>
        {% for tpg in object.tpgs %}
        {% for lun in tpg.luns %}
        <tr>
            <td>
                <div class="btn-group">
                    <button class="btn btn-mini">
                        tpg{{ tpg.tag }}
                    </button>
                    <button class="btn btn-mini {% if tpg.enable == 0 %}btn-inverse{% else %}btn-success{% endif %} tpg-toggle"
                        data-url="{% url 'target-pg-update' slug=object.wwn tag=tpg.tag %}"
                        data-enable="{% if tpg.enable == 0 %}1{% else %}0{% endif %}">
                        {% if tpg.enable == 0 %}off{% else %}on{% endif %}
                    </button>
                </div>
            </td>

            <td>
                lun{{ lun.lun }}
            </td>

            <td width="60%">
                {% with lun.storage_object.get_volume as lun_volume %}
                <a href="{{ lun_volume.get_absolute_url }}">
                    {{ lun_volume.name }}
                </a>
                {% endwith %}
            </td>

            <td>
                <button class="btn btn-mini btn-danger">del</button>
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>

    <thead>
        <tr>
            <th>tpg</th>
            <th></th>
            <th>portal ip:port</th>
            <th>dump</th>
        </tr>
    </thead>
    <tbody>
        {% for portal in network_portals %}
        <tr>
            <td>
                tpg{{ portal.parent_tpg.tag }}
            </td>

            <td>
            </td>

            <td>
                {{ portal.ip_address }}:{{ portal.port }}
            </td>

            <td>
                {{ portal.dump }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br />
<div>
    <a data-toggle="modal" data-target="#modal" href="{% url 'target-pg-create' slug=object.wwn %}">
        <span class="label label-info" style="text-align: right;">
            add tpg
        </span>
    </a>&nbsp;

    <a href="#">
        <span class="label label-info" style="text-align: right;">
            add acl
        </span>
    </a>&nbsp;

    <a href="#">
        <span class="label label-info" style="text-align: right;">
            add portal
        </span>
    </a>&nbsp;


    <a href="#" class="target-lun-mapping-create">
        <span class="label label-info" style="text-align: right;">
            add lun
        </span>
    </a>&nbsp;
</div>
<br />
<br />

<div id="modal" style="modal fade hide">Hidden Modal Div</div>

{% if debug %}
<blockquote>
<pre>
-- Target Obj
{{ object.dumps|pprint }}

-- TPG Obj
{% for tpg in rtslib_tpgs %}
{{ tpg.dump|pprint }}
{% endfor %}

-- LUN Obj
{% for lun in rtslib_luns %}
{{ lun.dump|pprint }}
{% endfor %}

-- Session Obj
{% for session in rtslib_sessions %}
{{ session.dump|pprint }}
{% endfor %}

-- Node ACL Objs
{% for nacl in rtslib_node_acls %}
{{ nacl|pprint }}
{% endfor %}

-- Fabric Objs
{% for fm in rtslib_fabric_modules %}
{{ fm|pprint }}
{% endfor %}

-- JSON Config
{{ rtslib_config_dump|pprint }}
</pre>
</blockquote>
{% endif %}


{% load crispy_forms_tags %}

<div class="hide">
    <div id="target-remove-form-container">
        {% crispy target_remove_form %}
    </div>
    <div id="target-pg-volume-lun-map-form-container">
        {% crispy target_pg_volume_lun_map_form %}
    </div>
</div>

<script>

$('.chosen-select').chosen();

function tpg_toggle(event) {
    var self = this;
    var url = $(this).data('url');
    var data = {enable: $(this).data('enable')};

    // send form data
    //$.post("test.php", $("#testform").serialize());

    console.log(data);
    $.post(url, data,
        function(data) {
            console.log(data);
            enable = data['enable'];
            if (enable == 1)
                $(self).html("on").addClass('btn-success').removeClass('btn-inverse').data("enable", 0);
            else
                $(self).html("off").removeClass('btn-success').addClass('btn-inverse').data("enable", 1);;
        }, "json");
}

$('.tpg-toggle').on('click', tpg_toggle);

$('a.target-remove').popover({
    title: 'Create Lun Mapping',
    placement: 'bottom',
    content: $("#target-remove-form-container").html(), });

$('a.target-lun-mapping-create').popover({
    title: 'Create Lun Mapping',
    placement: 'right',
    content: $("#target-pg-volume-lun-map-form-container").html(), });


</script>

{% endblock %}
