{% extends 'storage/volume_base.html' %}

{% block object_detail %}
<table class="table table-striped table-condensed">
    <tr>
        <td>
            <button class="btn btn-primary btn-large btn-block">
                <span class="label-caps">
                    <small>{{ object.type }}</small>
                </span>
                {{ object.name }}
            </button>
        </td>
        <td colspan="5"><div id="graph_iops"></div></td>
    </tr>
    <tr>
        <td>
            <i class="icon-adjust"></i>
            <small>usage:</small>
        </td>
        <td>
            <button class="btn btn-mini" >{{ object.props.used }}/{{ object.pool.props.capacity }}</button>
        </td>
        <td>
            <i class="icon-resize-small"></i>
            <small>compression:</small>
        </td>
        <td>
            {% if object.props.compression %}
            <button class="btn btn-mini btn-success">On</button>
            {% else %}
            <button class="btn btn-mini btn-inverse">Off</button>
            {% endif %}
        </td>
        <td>
            <i class="icon-th"></i>
            <small>dedup:</small>
        </td>
        <td>
            {% if object.props.dedup %}
            <button class="btn btn-mini btn-success">On</button>
            {% else %}
            <button class="btn btn-mini btn-inverse">Off</button>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><small>
            &nbsp;&raquo;
            children:
        </small></td>
        <td><small>
            {{ object.props.usedbychildren }}
        </small></td>
        <td><small>
            &nbsp;&raquo;
            ratio:
        </small></td>
        <td><small>
             {{ object.props.compressratio }}
        </small></td>
        <td><small>
             &nbsp;&raquo;
            ratio:
        </small></td>
        <td><small>
             {{ object.pool.props.dedupratio }}
        </small></td>
     </tr>
    <tr>
        <td><small>
            &nbsp;&raquo;
            snapshots:
        </small></td>
        <td><small>
             {{ object.props.usedbysnapshots }}
        </small></td>
        <td><small>
            <i class="icon-tint"></i>
            quota:
        </small></td>
        <td><small>
             {{ object.props.quota }}
        </small></td>
        <td><small>
            <i class="icon-tint"></i>
            quota:
        </small></td>
        <td><small>
             {{ object.props.quota }}
        </small></td>
     </tr>
    <tr>
        <td><small>
            &nbsp;&raquo;
            ref:
        </small></td>
        <td><small>
             {{ object.props.usedbyrefreservation }}
        </small></td>
        <td><small>
            <i class="icon-tint"></i>
            quota:
        </small></td>
        <td><small>
             {{ object.props.quota }}
        </small></td>
        <td><small>
            <i class="icon-tint"></i>
            quota:
        </small></td>
        <td><small>
            {{ object.props.quota }}
        </small></td>
     </tr>
</table>


<table class="table table-striped table-condensed">
    <caption>
        Target LUN Mapping:
    </caption>
    <thead>
        <tr>
            <th>lun</th>
            <th>target wwn</th>
            <th>tpg</th>
            <th>fabric</th>
            <th>tasks</th>
        </tr>
    </thead>
    {% with backstore as object.backstore %}
    {% for lun in backstore.attached_luns %}
    {% with target as lun.parent_tpg.parent_target %}
    <tbody>
        <tr>
            <td>
                lun{{ lun.lun }}
            </td>
            <td>
                <a href="/storage/targets/detail/{{ target.wwn|urlize }}">
                    {{ target.wwn }}
                </a>
            </td>
            <td>
                tpg{{ lun.parent_tpg.tag }}
                {% if lun.parent_tpg.enable == 1 %}
                <button class="btn btn-mini btn-inverse">Off</button>
                {% else %}
                <button class="btn btn-mini btn-success">On</button>
                {% endif %}
            </td>
            <td>
                <span class="label-caps">{{ target.fabric_module.name }}</span>
            </td>
            <td>
                <button class="btn btn-mini btn-danger">x</button>
            </td>
        </tr>
    {% endwith %}
    {% endfor %}
    {% endwith %}
    </tbody>
</table>

<div>
    <a href="#add-lun-mapping">
        <span class="label label-info" style="text-align: right;">
            add lun mapping
        </span>
    </a>
</div>
<br />


<blockquote>
<pre>
{{ object.type|capfirst }}: {{ object.dumps|pprint }}
</pre>
</blockquote>

{% load jstemplate %}

  <div id="dynamic-area"></div>

  {% mustachejs "main" %}

  <script>
    //$(document).ready(function() {

      var $area = $('#dynamic-area')
        , template;

      // Either render by accessing the TEMPLATES object
      // directly...

      //$area.html(Mustache.to_html(Mustache.TEMPLATES.main));

      // ...or render by using a cached template object
      // (requires django.mustache.js)

      template = Mustache.template('main');
      $area.html(template.render({name: 'test'}));

    //});
  </script>



<script>
require(['pool/analytics'], function(pool_analytics) {

// Analytics using Cubism
pool_analytics.pool = '{{ object.pool.name }}';
pool_analytics.small_stats();

});
</script>


{% endblock %}
