{% extends 'storage/pool_detail.html' %}

{% block object_content %}

<!-- Dataset Detail -->
{% with object_path as object.path() %}
<div class="row" style="margin-bottom: 0px;">
    <div class="navbar object-detail-nav object-detail-list">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".object-detail-nav .nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="#">
                    {{ object_path|first }}
                    {% if object_path|length > 1 %}
                        {% for d in object_path|slice:"1:" %}/{{ d }}{% endfor %}
                    {% endif %}
                </a>

                <div class="nav-collapse">
                    <ul class="nav">
                         <li class="dropdown">
                            <a href="{% url pool slug=object.pool.name %}" class="dropdown-toggle" data-toggle="dropdown">Pool<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url pool-health slug=object.pool.name %}">Health</a></li>
                                <li><a href="{% url pool-analytics slug=object.pool.name %}">Analytics</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url volume-health slug=object.name %}">Health</a></li>
                        <li><a href="{% url volume-snapshots slug=object.name %}">Snapshots</a></li>
                    </ul>

                    <ul class="nav pull-right">
                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% comment %}
                                <li><a href="{% url volume-snapshot name=object.name %}">Snapshot</a></li>
                                <li><a href="#">Clone</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url volume-destroy name=object.name %}">Destroy</a></li>
                                {% endcomment %}
                            </ul>
                        </li>
                   </ul>
                </div><!-- /.nav-collapse -->
            </div>
        </div><!-- /navbar-inner -->
    </div><!-- /navbar -->
</div>
{% endwith %}

<div class="row">
    <div id="object-detail-content" class="well">
        {% block object_detail %}
        {% endblock %}
    </div>
</div>

{% endblock %}

