{% extends "base_page_detail.html" %}

{% block page_breadcrumbs_pre %}
<li class="static">
    <a href="/configure">configure</a>
    <span class="divider">&raquo;</span>
</li>
{% endblock %}

{% block page_content_sidenav_pre %}
{% endblock %}

{% block page_content_sidenav %}
<li class="nav-header">
    Network Interfaces
</li>
{% for iface in interfaces.values() %}
{% if not iface.type == 'local' %}
<li class="page-content-select">
    <a href="/configure/network/interfaces/{{ iface.name|urlize }}" rel="tooltip" title="{% for addr in iface.addrs.AF_INET %}{{ addr.addr }} / {{ addr.netmask }};{% endfor %}">{{ iface.name }}</a>
</li>
{% endif %}
{% endfor %}
{% endblock %}

{% block page_content %}
{% include 'configure/network/interface_detail.html' %}
{% endblock %}

