{% extends "base_page_detail.html" %}

{% block page_breadcrumbs_pre %}
<li class="static">
    <a href="/configure">configure</a>
    <span class="divider">&raquo;</span>
</li>
{% endblock %}

{% block page_content_sidenav_pre %}
{% endblock %}

{% block page_content_sidenav %}
<li class="nav-header">
    Network Interfaces
</li>
{% for iface in interfaces.items() %}
<li class="page-content-select">
    <a href="/configure/network/interfaces/detail/{{ iface.name|urlize }}" rel="tooltip" title="{% for iface_addr in iface.addrs[2] %}{{ iface_addr.addr }} / {{ iface_addr.netmask }}{% endfor %}">{{ iface.name }}</a>
</li>
{% endfor %}
{% endblock %}

{% block page_content %}
{% include 'configure/network/interface_detail.html' %}
{% endblock %}

