[submodule "solarsanweb/vendor"]
	path = slarsanweb/vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "solarsanweb/static/3rd/g.raphael"]
	path = solarsanweb/static/3rd/g.raphael
	url = git://github.com/DmitryBaranovskiy/g.raphael.git
[submodule "solarsanweb/static/3rd/g.raphael2"]
	path = solarsanweb/static/3rd/g.raphael2
	url = git://github.com/kennyshen/g.raphael.git
[submodule "solarsanweb/static/jquery/packages/jquery-colors"]
	path = solarsanweb/static/jquery/packages/jquery-colors
	url = git://github.com/Enideo/jquery-colors.git
[submodule "solarsanweb/static/jquery/packages/jquery-cron"]
	path = solarsanweb/static/jquery/packages/jquery-cron
	url = git://github.com/shawnchin/jquery-cron.git
[submodule "solarsanweb/static/jquery/packages/jquery-gentleSelect"]
	path = solarsanweb/static/jquery/packages/jquery-gentleSelect
	url = git://github.com/shawnchin/jquery-gentleSelect.git
[submodule "solarsanweb/static/3rd/highcharts"]
	path = solarsanweb/static/3rd/highcharts
	url = git://github.com/highslide-software/highcharts.com.git
[submodule "solarsanweb/vendor"]
	path = solarsanweb/vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "solarsanweb/static/3rd/flot"]
	path = solarsanweb/static/3rd/flot
	url = git://github.com/flot/flot.git
[submodule "solarsanweb/static/3rd/font-Awesome"]
	path = solarsanweb/static/3rd/font-Awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "vendor-local/django-chartit"]
	path = vendor-local/django-chartit
	url = git://github.com/akatrevorjay/django-chartit.git
[submodule "bin/lib/bashism"]
	path = bin/lib/bashism
	url = git://github.com/akatrevorjay/bashism.git
[submodule "vendor-local/pyrrd"]
	path = vendor-local/pyrrd
	url = git://github.com/akatrevorjay/pyrrd.git
[submodule "vendor-local/pkgs/pyrrd"]
	path = vendor-local/pkgs/pyrrd
	url = git://github.com/akatrevorjay/pyrrd.git
