*.pyc
*.pyo

/env
/data

/conf/settings_local.py

*.swp
*.swo
/celeryconfig.py
/solarsanweb/templates/b
/solarsanweb/templates/admin.old
_crap/
snippets/
PYSMELLTAGS
polls
vendor-local/pkgs/_meh/
vendor-local/pkgs/cube_python
# stupid hg repo won't clone with hg-fast-import
vendor-local/pkgs/south
vendor-local/pkgs/django-piston

3rd/
/.ropeproject/
/.pydevproject
/.project
/.settings
/*.komodoproject

# TODO find which of these is the shared file, I forget at this point.
/*.wpr
/*.wpu

omg
/_*
/conf/id_*
_old
/celerymon.pid

.zfs
tmp

