*.pyc

/env
/data

/solarsanweb/settings_local.py

*.swp
*.swo
/celeryconfig.py
solarsanweb/templates/b
solarsanweb/templates/admin.old
_crap/
snippets/
PYSMELLTAGS
polls

3rd/
/.ropeproject/
/.pydevproject
/.project
/.settings
/*.komodoproject

.zfs
tmp

