*.pyc

*.swp
*.swo
celeryconfig.py
solarsanweb/templates/b
solarsanweb/templates/admin.old
_crap/
snippets/
PYSMELLTAGS
polls
3rd/
env/
.ropeproject/
vendor-local/
.pydevproject

data/*

*.log
*.pid
celerybeat-schedule

/sqlite.db
tmp

