[submodule "solarsanweb/static/3rd/font-Awesome"]
	path = solarsanweb/static/3rd/font-Awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "bin/lib/bashism"]
	path = bin/lib/bashism
	url = git://github.com/akatrevorjay/bashism.git
[submodule "solarsanweb/static/3rd/bootstrap"]
	path = solarsanweb/static/3rd/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "solarsanweb/static/3rd/chosen"]
	path = solarsanweb/static/3rd/chosen
	url = git://github.com/harvesthq/chosen.git
[submodule "solarsanweb/static/3rd/jquery-ui-bootstrap"]
	path = solarsanweb/static/3rd/jquery-ui-bootstrap
	url = git://github.com/addyosmani/jquery-ui-bootstrap.git
[submodule "solarsanweb/static/3rd/bootbox"]
	path = solarsanweb/static/3rd/bootbox
	url = https://github.com/makeusabrew/bootbox.git
[submodule "solarsanweb/static/3rd/cubism"]
	path = solarsanweb/static/3rd/cubism
	url = git://github.com/square/cubism.git
[submodule "solarsanweb/static/3rd/d3"]
	path = solarsanweb/static/3rd/d3
	url = git://github.com/mbostock/d3.git
[submodule "solarsanweb/static/3rd/nvd3"]
	path = solarsanweb/static/3rd/nvd3
	url = git://github.com/novus/nvd3.git
[submodule "solarsanweb/static/3rd/gritter"]
	path = solarsanweb/static/3rd/gritter
	url = git://github.com/jboesch/Gritter.git
[submodule "solarsanweb/static/3rd/bootstrap-editable"]
	path = solarsanweb/static/3rd/bootstrap-editable
	url = git://github.com/vitalets/bootstrap-editable.git
[submodule "solarsanweb/static/3rd/animate.css"]
	path = solarsanweb/static/3rd/animate.css
	url = git://github.com/daneden/animate.css.git
[submodule "solarsanweb/static/3rd/bootstrap-toggle-buttons"]
	path = solarsanweb/static/3rd/bootstrap-toggle-buttons
	url = git://github.com/nostalgiaz/bootstrap-toggle-buttons.git
[submodule "vendor"]
	path = vendor
	url = gitosis@git.localhostsolutions.com:solarsan/solarsanweb/vendor.git
