/* ______
 * Common
 */

.legendLabel {
 text-decoration: none;
 font-size: 1em;
 font-weight: normal;
}

.label-caps {
 /*text-transform: uppercase;*/
 font-variant: small-caps;
 /*letter-spacing: 1px;*/
}

body {
  /* Navbar shouldn't cover anything up */
  margin-top: 40px;
  font-size: 80%;
  font-family: droid sans, arial;
}

pre {
  font-size: 80%;
}

.sidebar-nav {
  /*font-size: 80%;*/
}

.sidebar-nav .nav-header {
  /*background-color: #efefef;*/
  border-radius: 5px;
  /*color: black;*/
}

.accordion-heading.active .accordion-toggle {
  background-color: whiteSmoke;
  /*background-color: #08C;*/
  /*background-color: rgba(0, 136, 204, 0.1);*/
  /*color: white;*/
}

.sidebar-nav .accordion-inner li.active .muted {
  color: #333;
}

.sidebar-nav .accordion-inner .muted {
  font-size: 0.8em;
}


/*.accordion-group:hover .accordion-body,*/
.accordion-group:hover .accordion-heading .accordion-toggle {
  background-color: whiteSmoke;
}


.accordion-heading .accordion-toggle:hover {
  /*background-color: #eee;*/
  /*background-color: rgba(0, 136, 204, 0.1);*/
  /*color: white;*/
  text-decoration: none;
}

.object-detail-nav,
.filesystem-detail-nav {
  margin-bottom: 5px;
}

#object-detail-content,
#filesystem-detail-content {
  padding: 0px;
}

#pool-breadcrumb {
  margin-bottom: 5px;
}

/*
#filesystem-detail-content * {
}
*/


.definitions td span {
    font-weight: bold;
}

td.defs_val {
    text-align: right;
    padding-right: 1em;
    vertical-align: middle;
}


div.container-primary div.row {
    margin-left: -20px;
}


.animated:hover {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	    -ms-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	    -ms-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}



/*
 * Cubism
 */

/*
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 30px auto;
  width: 1440px;
  position: relative;
}
*/

/*
header {
  padding: 6px 0;
}
*/

.group {
  margin-bottom: 1em;
}

.axis {
  font: 8px sans-serif;
  position: fixed;
  pointer-events: none;
  z-index: 2;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.top {
  background-image: linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  top: 0px;
  padding: 0 0 24px 0;
}

.axis.bottom {
  background-image: linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  bottom: 0px;
  padding: 24px 0 0 0;
}

.horizon {
  overflow: hidden;
  position: relative;
}

.horizon:first-child {
  /*border-top: solid 1px #000;*/
  border-bottom: solid 1px #000;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  /*line-height: 30px;*/
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.title, .value {
  font-size: 1em;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  opacity: .2;
  z-index: 2;
}


@media all {
  .axis { position: static; }
  .axis.top, .axis.bottom { padding: 0; }
}

/*
@media all and (max-width: 1439px) {
  body { margin: 0px auto; }
  .axis { position: static; }
  .axis.top, .axis.bottom { padding: 0; }
}
*/



