{% extends "base_site.html" %}

{% load url from future %}

{% block css_extra %}
    <style></style>
{% endblock %}

{# Navbar is set in the app-specific override "base.html #}

{% block pre_content %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="span12">
        <div class="well">
            Status<br />
            <br />

            <a href="{% url 'reboot' %}">
                <button class="btn btn-info">Reboot</button>
            </a>

            <a href="{% url 'shutdown' %}">
                <button class="btn btn-info">Shutdown</button>
            </a>

        </div>
    </div>
</div>

{% endblock %}

