{% extends "base_site.html" %}

{% block css_extra %}
    <style></style>
{% endblock %}

{# Navbar is set in the app-specific override "base.html #}

{% block pre_content %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="span12">
        <div class="well">
            Logs<br />
            <br />
<pre>
{% for entry in entries %}
{{ entry|pprint }}
{{ entry.DATE }}
{{ entry.PRIORITY }}
{{ entry.MESSAGE }}
{% endfor %}
</pre>

        </div>
    </div>
</div>

{% endblock %}
