{% extends "base_site.html" %}

{% block css_extra %}
    <style></style>
{% endblock %}

{# Navbar is set in tde app-specific override "base.html #}

{% block pre_content %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="span12">
        <div class="well">
            <table class="table table-striped table-condensed">
                <tbody>
                    {% for entry in entries %}
                    <tr>
                        <td>{{ entry.DATE }}</td>
                        <td>
                            <span class="badge badge-debug">
                                {{ entry.PROGRAM }}
                            </span>
                        </td>
                        <td>
                            {% if entry.PRIORITY == 'info' %}
                            <span class="badge badge-info">
                            {% elif entry.PRIORITY == 'warning' %}
                            <span class="badge badge-warning">
                            {% elif entry.PRIORITY == 'error' %}
                            <span class="badge badge-error">
                            {% else %}
                            <span class="badge badge-debug">
                            {% endif %}
                                {{ entry.PRIORITY }}
                            </span>
                        </td>
                        <td>
                            <!--<pre>-->
                            <!--<pre class="pre-scrollable">-->
                                {{ entry.MESSAGE }}
                            <!--</pre>-->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
