<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
<head>
<title>{% block title %}{% endblock %}</title>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block pagestyle %}{% endblock %}
{% block pagehead %}{% endblock %}
</head>

<body>

<!-- Container -->
<div id="container">
    <!-- Content -->
    <div id="content">
        <!-- Header -->
        <div id="header">
            <h1 class="ui-widget">
                <div class="ui-widget-header">
                    {% block header %}{% endblock %}
                </div>
            </h1>
            <div id="nav" class="ui-widget-content">
                <div class="left gentlenav">
					<select id="menu_main">
						<option value="{{ title }}">{{ title }}</option>
					</select>
                </div>
                <div id="pagenav" class="left gentlenav">
                    {% block pagenav %}{% endblock %}
                </div>
                <div class="gentlenav">
					<select id="menu_conf">
						<option value="Configure">Configure</option>
					</select>
                </div>
                <!-- <div class="btnset rightnav">
                    <button><span style="color: #555;">graphs</span> iops</button>
                    <button class="no_text ui-icon-triangle-1-s">Graph menu</button>
                    </div> -->
            <div id="header">
                {% block pageheader %}{% endblock %}
            </div>
        </div>
        <!-- END Header -->
        <!-- Main -->
        <div id="main">
            {% block main %}{% endblock %}
        </div>
        <!-- END Main -->
        <!-- Footer -->
        <div id="footer" class="ui-widget-content">
            {% block footer %}{% endblock %}
        </div>
        <!-- END Footer -->
    </div>
    <!-- END Content -->
</div>
<!-- END Container -->

</body>
</html>
