{% load url from future %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
</head>

<body>

<!-- Container -->
<div id="container">
    <!-- Content -->
    <div id="content">
        {% block content_title %}
        <div id="header">
            <h1>SolarSAN Administration{% if title %} | {{ title }}{% endif %}</h1>
        </div>
        {% endblock %}
        {% block content %}
        {{ content }}
        {% endblock %}
        <div id="footer" class="ui-widget-content">Localhost Solutions &copy; 2012</div>
    </div>
    <!-- END Content -->
</div>
<!-- END Container -->

</body>
</html>
