{% extends "solarsan/base_site.html" %}
{% load i18n %}

{% load dajaxice_templatetags %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block extrahead %}
    {% load collect %}
    {% collect 'js/jquery.js' 'raphael/raphael-min.js' 'raphael/g.raphael-min.js' 'g.raphael/g.pie.js' 'g.raphael/g.dot.js' 'raphael/pie.js' 'js/jquery.dajax.core.js' 'js/status.js' as js %}
    {% for j in js %}<script type="text/javascript" src="{{ STATIC_URL }}{{ j }}"></script>{% endfor %}
    
	{% dajaxice_js_import %}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% block graph_js %}
<script type="text/javascript">

var graphs = {};

$(function() {
    function graphs_update_ajax_callback(timeout, series) {
        console.log("graphs_update_ajax_callback");

        for (var g in series) {
            if (graphs[g]) {
                graphs[g]['values'] = series[g]['values'];
                graph_redraw(g);
            }
        }
        
        if (timeout)
            setTimeout(function() { graphs_update_ajax(timeout); }, timeout);
    }

    function graphs_update_ajax(timeout) {
        $.ajax({
            type : "GET",
            url : "{% url solarsan.views.graph_stats %}",
            dataType : 'json',
            success : function(ret) { graphs_update_ajax_callback(timeout, ret); }
        });
    }
    
    function graph_redraw(g) {
        if (!graphs[g]['pie']) {
            //graphs[g]['r'].text(graphs[g]['width'], graphs[g]['radius'], graphs[g]['title']).attr({ font : "12px sans-serif" });
            graphs[g]['opts']['legend'] = graphs[g]['legend'];
            graphs[g]['pie'] = graphs[g]['r'].piechart(graphs[g]['width'], graphs[g]['height'], graphs[g]['radius'], graphs[g]['values'], graphs[g]['opts'] );
            delete graphs[g]['opts']['legend'];
        } else {
            graphs[g]['pie'] = graphs[g]['r'].piechart(graphs[g]['width'], graphs[g]['height'], graphs[g]['radius'], graphs[g]['values'], graphs[g]['opts'] );
        }

        graphs[g]['pie'].hover(graphs[g]['hover'], graphs[g]['unhover']);
        graphs[g]['pie'].click(graphs[g]['click']);

        /*
        graphs[g]['pie'].each(function() {
            //this.sector.animate({"opacity": 0}, 500);
            console.log("yup");
        });
        */

        /*
        //Then for each bar in our chart (c), animate to our new chart's path (c2)
        $.each(c.bars[0], function(k, v) {
            v.animate({ path: c2.bars[0][k].attr("path") }, 200);
            v.value[0] = bdata[k][0];
        });
        */
    }

    graphs['graph_utilization'] = {
        title: 'Utilization',
        width: 150, height: 120, radius: 100,
        opts: {
            
            strokewidth: 2,
            colors: ["90-#7BCC55-#A7FB73", "45-#0B73D2-#0E99FA", "0-#E37201-#FC9B03"],
        },
        legend: ["Free", "Used"],
        hover: graph_pie_hover, unhover: graph_pie_unhover, click: graph_pie_click,
    };
    graphs['graph_iops'] = {
        title: 'IOPs',
        width: 150, height: 120, radius: 100,
        opts: {
            
            strokewidth: 2,
            colors: ["90-#7BCC55-#A7FB73", "45-#0B73D2-#0E99FA", "0-#E37201-#FC9B03"],
        },
        legend: ["Read", "Write"],
        hover: graph_pie_hover, unhover: graph_pie_unhover, click: graph_pie_click,
    };
    graphs['graph_throughput'] = {
        title: 'Throughput',
        width: 150, height: 120, radius: 100,
        opts: {
            
            strokewidth: 2,
            colors: ["90-#7BCC55-#A7FB73", "45-#0B73D2-#0E99FA", "0-#E37201-#FC9B03"],
        },
        legend: ["Read", "Write"],
        hover: graph_pie_hover, unhover: graph_pie_unhover, click: graph_pie_click,
    };

    $(".ajax_graph").each(function() {
        var g = $(this).attr('id');
        graphs[g]['r'] = Raphael(g);
        delete g
    });

    graphs_update_ajax(2000);

});


</script>
{% endblock %}

{% block graphs %}
<table><tr><td>
<div id="graph_utilization" class="ajax_graph_pie ajax_graph"></div>
</td><td>
<div id="graph_iops" class="ajax_graph_pie ajax_graph"></div>
</td><td>
<div id="graph_throughput" class="ajax_graph_pie ajax_graph"></div>
</td></tr></table>
<br />
{% endblock %}


{% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
        <caption><a href="{{ app.app_url }}" class="section">{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</a></caption>
        {% for model in app.models %}
            <tr>
            {% if model.perms.change %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.perms.add %}
                <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.perms.change %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}


