{% extends "solarsan/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<!--TODO Move this to css link rel -->
<style type="text/css">

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);

body: {
    font-family: "Ubuntu Mono", sans-serif
}

</style>
{% endblock %}

{% block extrahead %}
    {% load collect %}
    {% collect 'js/jquery.js' 'raphael/raphael-min.js' 'raphael/g.raphael-min.js' 'g.raphael/g.pie.js' 'g.raphael/g.line.js' 'raphael/pie.js' 'raphael/analytics.js' 'js/jquery.dajax.core.js' 'js/status.js' as js %}
    {% for j in js %}<script type="text/javascript" src="{{ STATIC_URL }}{{ j }}"></script>{% endfor %}
    
    {% load dajaxice_templatetags %}
    {% dajaxice_js_import %}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% block graph_js %}
<script type="text/javascript">

var graphs = {};

$(function() {
    {% for pool in pools %}
    graphs['{{ pool }}'] = {};
    
    graphs['{{ pool }}']['graph_utilization'] = {
        type: 'pie',
        title: 'Utilization',
        width: 100, height: 100, radius: 75,
        legend_width: 40,
        opts: {
            legend: ["Free", "Used"],
            strokewidth: 3,
            stroke: "#000",
            colors: ["90-#7BCC55-#A7FB73", "45-#0B73D2-#0E99FA", "0-#E37201-#FC9B03"],
        },
        hover: graph_pie_hover, unhover: graph_pie_unhover, click: graph_pie_click,
    };
    
    graphs['{{ pool }}']['graph_iops'] = {
        type: 'line',
        title: 'IOPs',
        width: 600, height: 100,
    };
    
    graphs['{{ pool }}']['graph_throughput'] = {
        type: 'line',
        title: 'Throughput',
        width: 600, height: 100,
    };
    {% endfor %}
    
    // Update every 30s
    graphs_update_ajax("{% url solarsan.views.graph_stats_json %}", 30000, {});
});

function dataset_select(dataset) {
    Dajaxice.solarsan.dataset_info(Dajax.process, {'dataset': dataset});
}

function dataset_snapshots_list(dataset) {
    Dajaxice.solarsan.dataset_snapshots_list(Dajax.process, {'dataset': dataset});
}

function dataset_hover() {
    $(this).setAttribute('style', 'background-color: lightblue;');
}
function dataset_unhover() {
    $(this).setAttribute('style', '');
}

$("#dataset_list tr").each(function (i) {
    $(this).hover(function() {
        $(this).stop().animate({color: "lightblue"}, 'slow');
    },
    function() {
        $(this).stop().animate({color: "white"}, 'slow');
    });
});

$("#dataset_list tr a").each(function (i) {
    $(this).hover(function() {
        $(this).stop().animate({color: "lightblue"}, 'slow');
    },
    function() {
        $(this).stop().animate({color: "white"}, 'slow');
    });
});

</script>
{% endblock %}

{% block pools %}
{% for pool in pools %}
<h2>Storage Pool: {{ pool }}</h2>
<table>
    <tr>
        <td colspan="2" width="300"><div id="{{ pool }}__graph_utilization" class="ajax"></div></td>
        <td><div id="{{ pool }}__graph_iops" class="ajax"></div><br /><div id="{{ pool }}__graph_throughput" class="ajax"></div></td>
    </tr>
    <tr>
        <td style="width: 150px;">
            <table id="dataset_list" width="100%">
                {% for dataset in pool.dataset_filesystems.all|dictsort:"name" %}
                <tr onclick="dataset_select('{{ dataset }}')">
                    <td>
                        <a href="#">{{ dataset }}</a><br />
                        {{ dataset.used }}/{{ dataset.available }}
                    <td>
                </tr>
                {% empty %}
                <tr>
                    <td>
                        <i>(none)</i>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>
                        <a href="">+ add dataset +</a>
                    </td>
                </tr>
            </table>
        </td>
        <td colspan="2" style="background-color: #eee">
            <div id="dataset_info">
                <h3><div id="dataset_info_title">info for selected dataset</div></h3>
                <div id="dataset_info_menu">menu</div>
                <div id="dataset_info_content">show quota, free, snaps, make snap, delete snap, etc</div>
                </div>
            </div>
        </td>
    </tr>
</table>
{% empty %}
<h2>There are no storage pools?</h2>
{% endfor %}
{% endblock %}

<br />
eof


</div>
{% endblock %}


