{% extends "solarsan/base_site.html" %}

{% block pagehead %}
<script type="text/javascript">
/*
 * main
 */
$(function() {

/*
 * dataset_list
 */
$('div.pool > div.dataset_list').resizable({ handles: "e" });

// dataset_list datasets
$("div.pool > div.dataset_list > div > div.dataset")
/*    .hover(function() {
            $(this).addClass("ui-state-hover", "fast");
        }, function() {
            $(this).removeClass("ui-state-hover", "fast");
        }) */
    .click(function() {
        $(this).parent().children("div.selected").removeClass("selected", "fast");
        $(this).addClass("selected", "fast");

        $.ajax({type: "GET",
                url: "{{ url('solarsan.views.status_dataset_info') }}/list/"+$(this).find('a:first').html(),
            context: $(this),
            }).done(function(data) { $(this).parent().parent().parent().children("div.dataset_info").html(data); });
    })
    .button()
    .draggable({ revert: true, zIndex: 100,
        //connectToSortable: ".datasets",
        //appendTo: "body",
        //helper: "clone",
        cursorAt: { left: 5 },
        helper: function() {
           return  $( "<li></li>" ).text( $("a", this).text() ).button();
            },
        });

// Act as if the first dataset has been clicked
$("div.pool > div.dataset_list > div > div.dataset:first-child").click();

/*
 * misc
 */

/*
// center content
$("#container > div").each(function(i) {
    $(this).center({inside: $("#container"), vertical: false})
    $(this).bind('resize', function() {
        $(this).center({inside: $("#container"), transition: 50, vertical: false});
    });
*/

$("div.btnset").each(function() {
    $("button", this).button();

    $("button.no_text", this).button('option', {
        text: false,
    });

    $("button.ui-icon-arrowstop-1-e", this).button('option', {
        icons: {
            primary: "ui-icon-circle-check"
        }
    });

    $("button.ui-icon-triangle-1-s", this).button('option', {
        icons: {
            primary: "ui-icon-triangle-1-s"
        },
    });

    $(this).buttonset();
});

//$("#pool_menu").menu();

$("div.btn").button();
$("div.btn.ui-icon-plus").button('option', {
        icons: {
            primary: "ui-icon-plus",
            secondary: "ui-icon-plus",
        },
    });



$("#menu_main").gentleSelect();
$("#menu_pool").gentleSelect({
	title:	'Pool',
});
$("#menu_conf").gentleSelect();
//$("#menu_graphs").gentleSelect();


});

</script>
{% endblock %}


{% block pagenav %}
<div class="gentlenavwrap">
	<select class="gentlenav" id="menu_pool">
		{% for pool in pools %}
			<option value="{{ pool.name }}">Pool {{ pool.name }}</option>
		{% endfor %}
	</select>
</div>
{% endblock %}

{% block main %}

{% for pool in pools %}
<div class="pool" id="pool_{{ pool }}">
    <div>
        <table style="text-align: center; width: auto;">
            <tr>
            {% for g in graphs.keys() %}
                <td>
                    <div id="flot_{{ g }}" style="width: 24%; height: 200px;"></div>
                    {{ graphs[g]|flotjson('flot_'+g) }}
                </td>
            {% endfor %}
            </tr>
        </table>
    </div>
    <div class="dataset_list">
        <div class="ui-widget-content" style="padding: 0.5em; color: #333; text-align: center; font-weight: 600; margin-bottom: 0.5em;">Datasets</div>
        <div class="ui-widget-content">
            {% for dataset in pool.dataset_set.filter(type='filesystem').order_by('name') %}
            <div class="dataset">
                <a>{{ dataset }}</a><br />
                <div>{{ dataset.used }}/{{ dataset.available }}</div>
            </div>
            {% endfor %}
            <div class="btn ui-icon-plus">add dataset</div>
        </div>
    </div>
    <div class="dataset_info"></div>
</div>
{% endfor %}

{% endblock %}

