{% extends "base.html" %}

{% block title %}{% if title %}{{ title }} | {% endif %}SolarSAN Administration{% endblock %}
{% block header %}SolarSAN Administration{% if title %} | {{ title }}{% endif %}{% endblock %}

{% block css_site %}

{% for c in
    'css/font-awesome.css',
    '3rd/chosen/chosen/chosen.css',
    'css/base.css',
    %}
    <link type="text/css" href="{{ STATIC_URL }}{{ c }}" rel="stylesheet" />
{% endfor %}

{# <link type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700" rel="stylesheet" /> #}

{% for j in 'js/jquery.js',
    '3rd/d3/d3.v2.min.js',
    '3rd/nvd3/nv.d3.min.js',
    '3rd/chosen/chosen/chosen.jquery.min.js',
    'js/base.js',
    '3rd/raven-js/dist/raven-0.6pre.min.js',
    %}
    <script type="text/javascript" src="{{ STATIC_URL }}{{ j }}"></script>
{% endfor %}
{#
    '3rd/flot/jquery.flot.js',
    '3rd/flot/jquery.flot.time.js',
    '3rd/flot/jquery.flot.crosshair.js',
    'js/jquery.animate-colors-min.js',
#}

<script type="text/javascript">
    Raven.config('{{ raven_dsn }}');
</script>

{% endblock %}

{% block js_jquery %}
{% endblock %}

{% block post_content %}Localhost Solutions &copy; 2012{% endblock %}

