{% extends "base.html" %}

{% block title %}{% if title %}{{ title }} | {% endif %}SolarSAN Administration{% endblock %}
{% block header %}SolarSAN Administration{% if title %} | {{ title }}{% endif %}{% endblock %}

{% block css_site %}

{#
    'css/ui-lightness/jquery-ui-1.8.18.custom.css',
    'css/ui.jqgrid.css',
#}

{% for c in 'js/jquery-ui-git.css',
    'css/custom-theme/jquery-ui-1.8.16.custom.css',
    'jquery/jquery-gentleSelect.css',
    'jquery/jquery-cron.css',
    'css/chosen.css',
    'css/font-awesome.css',
    'css/base.css',
    %}
    <link type="text/css" href="{{ STATIC_URL }}{{ c }}" rel="stylesheet" />
{% endfor %}

{# <link type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700" rel="stylesheet" /> #}

{#
    'js/jquery.jqGrid.js',
    'js/i18n/grid.locale-en.js',
#}

{% for j in 'js/jquery.js',
    'js/jquery-ui-git.js',
    'js/jquery.form-defaults.js',
    'jquery/jquery-gentleSelect-min.js',
    'jquery/jquery-cron-min.js',
    '3rd/jquery-cookie/jquery.cookie.js',
    'js/jquery.jsoncookie.js',
    '3rd/flot/jquery.flot.js',
    '3rd/flot/jquery.flot.crosshair.js',
    'js/chosen.jquery.min.js',
    'js/jquery.animate-colors-min.js',
    'js/base.js',
    %}
    <script type="text/javascript" src="{{ STATIC_URL }}{{ j }}"></script>
{% endfor %}

{% endblock %}

{% block js_jquery %}
{% endblock %}

{% block post_content %}Localhost Solutions &copy; 2012{% endblock %}

