{% extends "base2.html" %}

{% block title %}{% if title %}{{ title }} | {% endif %}SolarSAN Administration{% endblock %}
{% block header %}SolarSAN Administration{% if title %} | {{ title }}{% endif %}{% endblock %}

{# compress css #}

{% block css_bootstrap %}
    {#<link href="{{ STATIC_URL }}3rd/bootstrap/less/bootstrap.less" rel="stylesheet" type="text/less" charset="utf-8">#}
{% endblock %}

{% block css_bootstrap_responsive %}
    {#<link href="{{ STATIC_URL }}3rd/bootstrap/less/responsive.less" rel="stylesheet" type="text/less" charset="utf-8">#}
{% endblock %}

{% block css_site %}
    {% for c in css_site %}
        <link type="text/css" href="{{ STATIC_URL }}{{ c }}" rel="stylesheet" charset="utf-8"/>
    {% endfor %}
{% endblock %}

{# endcompress #}

{# compress js #}

{% block js_head %}

<!-- static js -->
{% for j in js_site %}
<script type="text/javascript" src="{{ STATIC_URL }}{{ j }}"></script>
{% endfor %}

<!-- require.js -->
<script data-main="{{ STATIC_URL }}/js/main" src="{{ STATIC_URL }}js/require.js"></script>
{% endblock %}

{% block js_jquery %}
{% endblock %}
{% block js_bootstrap %}
{% endblock %}

{# endcompress #}

{% block post_content %}Localhost Solutions &copy; 2012{% endblock %}

