{% extends "bootstrap2/layouts/base_navbar_responsive.html" %}

{% load url from future %}


{% block title %}SolarSan Console{% endblock %}

{% block navbar_links %}
<a class="brand" href="{% url 'index' %}">SolarSan Console</a>
<div>
    <ul class="nav">
        <li class="divider-vertical"></li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'configure' %}">configure<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">networking</a></li>
            </ul>
        </li>


        <!-- Drop it -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">storage<span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% comment %}
                <!-- Drop it -->
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">pools</a>
                    <ul class="dropdown-menu">
                        <!-- Drop it -->
                        {% for pool in pools %}
                        <li class="dropdown-submenu">
                            <a tabindex="-2" href="{% url 'pool' slug=pool.name %}"><i class="icon-cog"></i> {{ pool.name }}</a>
                            <!--<ul class="dropdown-menu">                                                                                             -->
                            <!--    <li><a href="{% url 'filesystem' slug=pool.filesystem.name %}"><i class="icon-adjust"></i> {{ pool.name }}</a></li>-->
                            <!--</ul>                                                                                                                  -->
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endcomment %}

                {% for curpool in pools|dictsort:"name" %}
                <!-- Drop it -->
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="{% url 'pool' slug=curpool.name %}">{{ curpool.name }}</a>
                    <ul class="dropdown-menu">

                        {% comment %}

                        <!-- Drop it -->
                        {% with curpoolfss=curpool.filesystems|dictsort:"path" %}
                        {% for filesystem in curpoolfss|dictsort:"path" %}

                        {% ifchanged filesystem.path|length %}
                            
                        {% endifchanged %}

                        {% if filesystem.path|length < 3 %}
                        {% if filesystem.path|length == forloop.parentcounter|add:"10" and filesystem.name|slice:"" %}
                        <li class="dropdown-submenu">
                            <a tabindex="-2" href="{% url 'filesystem' slug=filesystem.name %}"><i class="icon-cog"></i> {{ filesystem.name }}</a>
                            <ul class="dropdown-menu">
                                <caption>&nbsp;pool {{ filesystem.pool.name }}</caption>

                                <li><a href="{% url 'filesystem' slug=filesystem.name %}"><i class="icon-adjust"></i> Overview</a></li>
                                <li><a href="{% url 'filesystem' slug=filesystem.name %}"><i class="icon-adjust"></i> Analytics</a></li>

                                <li class="divider"></li>
                                <caption>&nbsp;filesystems</caption>

                                {% for fs in filesystem.filesystems %}
                                <li class="dropdown-submenu">
                                    <a tabindex="-3" href="{% url fs.type slug=fs.name %}"><i class="icon-adjust"></i> {{ fs.name }}</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'filesystem' slug=fs.name %}"><i class="icon-adjust"></i> Overview</a></li>

                                        <li class="divider"></li>

                                        <!-- and so on -->
                                    </ul>
                                </li>
                                {% endfor %}

                            </ul>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endwith %}

                        {% endcomment %}

                    </ul>
                </li>
                {% endfor %}

                <!-- End droppin it -->
            </ul>
        </li>
        <!-- End droppin it -->

    </ul>

    <ul class="nav pull-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">help<span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% comment %}
                <li>
                    <a href="#" onclick="graphs_toggle();">Tooltips Hide / Show</a>
                </li>
                <li class="divider"></li>
                {% endcomment %}
                <li>
                    <a href="http://www.localhostsolutions.com">Support</a>
                </li>
            </ul>
        </li>

        {% if user and user.is_authenticated %}
        <!-- Signed In -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon-user"></i> {{ user.username }} <span class="caret"></span> </a>
            <ul class="dropdown-menu">
                {% comment %}
                <li>
                    <a href="{% url 'account-profile' %}">Account</a>
                </li>
                <li>
                    <a href="{% url 'account-change-password' %}">Change Password</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{% url 'account-logout' %}">Logout</a>
                </li>
                {% endcomment %}
            </ul>
        </li>
        {% else %}
        <!-- Signed Out -->
        <li>
            <a href="#sign-in-modal" data-toggle="modal">sign in</a>
        </li>
        {% endif %}
    </ul>
</div>

{% endblock %}

{% block post_container %}

<div class="modal fade hide" id="sign-in-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            ×
        </button>
        <h3>Login</h3>
        <span>Login using the form below</span>
    </div>
    <div class="modal-body">
        {{ login_form }}
        <label><strong>Username:</strong>
            <input class="sprited"/>
        </label>
        <label><strong>Password:</strong>
            <input class="sprited"/>
        </label>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Log In</a>
    </div>
</div>

{% endblock %}

