{% extends "base_site.html" %}
{% from "bootstrap/macros.html" import alert  %}
{% from "bootstrap/forms/macros.html" import field, input  %}

{% block css_extra %}
    <style></style>
{% endblock %}

{# Navbar is set in the app-specific override "base.html #}

{% block pre_content %}
{% endblock %}

{% block content %}

{% block graphs %}
<div id="graphs-cont"></div>
{% endblock %}

{% for pool in pools %}
<div class="row">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list dataset-list">
                <li class="nav-header">Datasets</li>

                {% for dataset in pool.dataset_set.filter(type='filesystem').order_by('name') %}
                    <li class="dataset"><a class="dropdown-toggle" href="#">{{ dataset }}</a></li>
                    <div class="dropdown-menu dataset-info">
                        {{ dataset.used }}/{{ dataset.available }}
                    </div>
                {% endfor %}

                <li><a href="#">add dataset</a></li>
            </ul>
        </div>
    </div>
    <div class="span9">
        <div id="dataset-info" style="padding-left: 10px"></div>
    </div>
</div>
{% endfor %}


<script type="text/javascript">
/*
 * main
 */
$(function() {

/*
 * dataset-list
 */

$(".dataset-list .dataset")
    .click(function() {
        $(this).parent().children(".active").removeClass("active", "fast");
        $(this).addClass("active");

        $.ajax({type: "GET",
                url: "{{ url('solarsan.views.status_dataset_info') }}/list/"+$(this).find('a:first').html(),
            context: $(this),
            }).done(function(data) { $("#dataset-info").html(data); });
    });
// Act as if the first dataset has been clicked
$(".dataset-list .dataset").first().click();

/*
 * load graphs via ajax
 */
$.ajax({type: "GET",
        url: "{{ url('solarsan.views.graphs') }}",
        context: $("#graphs-cont"),
        }).done(function(data) { $(this).html(data); });


});

</script>


{% endblock %}

