{% extends "base_site.html" %}
{% from "bootstrap/macros.html" import alert  %}
{% from "bootstrap/forms/macros.html" import field, input  %}

{% block css_extra %}
    <style></style>
{% endblock %}

{# Navbar is set in the app-specific override "base.html #}

{% block pre_content %}
{% endblock %}

{% block content %}

{% block graphs %}
<div id="graphs-cont"></div>
{% endblock %}

{% for pool in pools %}
<div class="row">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list dataset-list">
                <li class="nav-header">Pools</li>

                {% for dataset in pool.filesystems().filter(type='filesystem').order_by('name') %}
                <li class="dataset"><a href="#">{{ dataset }}</a></li>
                {% endfor %}

                <li><a href="#add-dataset-modal" class="add-dataset" data-toggle="modal">add dataset</a></li>
            </ul>
        </div>
    </div>
    <div class="span9">
        <div id="dataset-info" style="padding-left: 10px"></div>
    </div>
</div>
{% endfor %}


<div class="modal fade hide" id="add-dataset-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Add Dataset</h3>
  </div>
  <div class="modal-body">
    <label><strong>Name:</strong> <input class="sprited"/></label>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Add</a>
  </div>
</div>


<script type="text/javascript">
/* ______
 * status
 */
$(function() {

/*
 * dataset-list
 */

// Datasets
$(".dataset-list .dataset")
    .click(function() {
        $(this).parent().children(".active").removeClass("active", "fast");
        $(this).addClass("active");

        var url = "{{ url('solarsan.views.status_dataset', dataset='replacewithdataset') }}";
        url = url.replace(/replacewithdataset/i, $(this).find('a:first').html());

        $.ajax({type: "GET",
            url: url,
            context: $(this),
            }).done(function(data) { $("#dataset-info").html(data); });
    });
// Act as if the first dataset has been clicked
$(".dataset-list .dataset").first().click();

// Load graphs via ajax
$.ajax({type: "GET",
        url: "{{ url('solarsan.views.graphs') }}",
        context: $("#graphs-cont"),
        }).done(function(data) { $(this).html(data); });


});
</script>


{% endblock %}

