{% extends "base_site.html" %}
{% from "bootstrap/macros.html" import alert  %}
{% from "bootstrap/forms/macros.html" import field, input  %}

{% block css_extra %}
    <style></style>
{% endblock %}

{# Navbar is set in the app-specific override "base.html #}

{% block pre_content %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="span12">
        <div class="well">
            Analytics<br /><br />

<style>


/********************
 * HTML CSS 
 */


.chartWrap {
  margin: 0;
  padding: 0;
  overflow: hidden;
}



/********************
 * TOOLTIP CSS 
 */

.nvtooltip {
  position: absolute;
  background-color: rgba(255,255,255,1);
  padding: 10px;
  border: 1px solid #ddd;
  z-index: 10000;

  font-family: Arial;
  font-size: 13px;

  transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  -webkit-transition: opacity 500ms linear;

  transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;

  -moz-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
  -webkit-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
  box-shadow: 4px 4px 12px rgba(0,0,0,.5);

  -moz-border-radius: 15px;
  border-radius: 15px;
}

.nvtooltip h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nvtooltip p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nvtooltip span {
  display: inline-block;
  margin: 2px 0;
}


/********************
 * SVG CSS 
 */


svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Trying to get SVG to act like a greedy block in all browsers */
  display: block;
  width:100%;
}


svg text {
  font: 12px sans-serif;
}

svg .title {
 font: bold 14px Arial;
}

/**********
*  Brush
*/

.brush .extent {
  stroke: #666;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}



/**********
*  Legend
*/

.nvd3 .legend .series {
  cursor: pointer;
}

.nvd3 .legend .disabled circle {
  fill-opacity: 0;
}



/**********
*  Axes
*/

.nvd3 .axis path {
  fill: none;
  stroke: #000;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}

.nvd3 .axis path.domain {
  stroke-opacity: .75;
}

.nvd3 .axis line {
  fill: none;
  stroke: #000;
  stroke-opacity: .25;
  shape-rendering: crispEdges;
}

.nvd3 .axis line.zero {
  stroke-opacity: .75;
}



/**********
*  Bars
*/

.nvd3 .bars .negative rect {
    zfill: brown;
    cursor: pointer;
}

.nvd3 .bars rect {
  zfill: steelblue;
  cursor: pointer;
  fill-opacity: .75;

  transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear;
}

.nvd3 .bars rect:hover {
  fill-opacity: 1;
}

.nvd3 .bars .hover rect {
  fill: lightblue;
}

.nvd3 .bars text {
  fill: rgba(0,0,0,0);
}

.nvd3 .bars .hover text {
  fill: rgba(0,0,0,1);
}

.nvd3 .x.axis text {
  transform: rotate(90);
}


/**********
*  Bars
*/

.nvd3 .multibar .groups rect,
.nvd3 .multibarHorizontal .groups rect,
.nvd3 .discretebar .groups rect {
  stroke-opacity: 0;

  transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear;
}

.nvd3 .multibar .groups rect:hover,
.nvd3 .multibarHorizontal .groups rect:hover,
.nvd3 .discretebar .groups rect:hover {
  fill-opacity: 1;
}

.nvd3 .discretebar .groups text,
.nvd3 .multibarHorizontal .groups text {
  font-weight: bold;
  fill: rgba(0,0,0,1);
  stroke: rgba(0,0,0,0);
}

/***********
*  Pie Chart
*/

.nvd3 .pie .hover path {
    fill: lightblue;
}

/**********
* Lines 
*/

.nvd3 .groups path.line {
  fill: none;
  stroke-width: 2.5px;
  stroke-linecap: round;
  shape-rendering: geometricPrecision;

  /*
  transition: stroke-width 250ms linear;
  -moz-transition: stroke-width 250ms linear;
  -webkit-transition: stroke-width 250ms linear;

  transition-delay: 250ms
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  */
}

.nvd3 .line.hover path {
  stroke-width: 6px;
}

/*
.nvd3.scatter .groups .point {
  fill-opacity: 0.1;
  stroke-opacity: 0.1;
}
  */

.nvd3.line .nvd3.scatter .groups .point {
  fill-opacity: 0;
  stroke-opacity: 0;
}


.nvd3 .groups .point {
  transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
  -moz-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
  -webkit-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
}

.nvd3.scatter .groups .point.hover,
.nvd3 .groups .point.hover {
  stroke-width: 20px;
  fill-opacity: .5 !important;
  stroke-opacity: .5 !important;
}


.nvd3 .point-paths path {
  stroke: #aaa;
  stroke-opacity: 0;
  fill: #eee;
  fill-opacity: 0;
}



.nvd3 .indexLine {
  cursor: ew-resize;
}



/**********
*  Scatter 
*/

.nvd3 .groups .point.hover {
  stroke-width: 20px;
  stroke-opacity: .5;
}

.nvd3 .scatter .point.hover {
  fill-opacity: 1;
}

/*
.group.hover .point {
  fill-opacity: 1;
}
*/


/**********
*  Stacked Area
*/

.nvd3 .stackedarea path.area {
  fill-opacity: .7;
  /*
  stroke-opacity: .65;
  fill-opacity: 1;
  */
  stroke-opacity: 0;

  transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;

  /*
  transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;
  */

}

.nvd3 .stackedarea path.area.hover {
  fill-opacity: .9;
  /*
  stroke-opacity: .85;
  */
}
/*
.d3stackedarea .groups path {
  stroke-opacity: 0;
}
  */



.nvd3.stackedarea .groups .point {
  stroke-opacity: 0;
  fill-opacity: 0;
}

.nvd3.stackedarea .groups .point.hover {
  stroke-width: 20px;
  stroke-opacity: .75;
  fill-opacity: 1;
}



/**********
*  Line Plus Bar
*/

.nvd3 .linePlusBar .bar rect {
  fill-opacity: .75;
}

.nvd3 .linePlusBar .bar rect:hover {
  fill-opacity: 1;
}


/**********
*  Bullet
*/

.nvd3.bullet { font: 10px sans-serif; cursor: pointer; }
.nvd3.bullet rect { fill-opacity: .6; }
.nvd3.bullet rect:hover { fill-opacity: 1; }
.nvd3.bullet .marker { stroke: #000; stroke-width: 2px; }
.nvd3.bullet .markerTriangle { stroke: #000; fill: #fff; stroke-width: 1.5px; }
.nvd3.bullet .tick line { stroke: #666; stroke-width: .5px; }
.nvd3.bullet .range.s0 { fill: #eee; }
.nvd3.bullet .range.s1 { fill: #ddd; }
.nvd3.bullet .range.s2 { fill: #ccc; }
.nvd3.bullet .measure.s0 { fill: steelblue; }
.nvd3.bullet .measure.s1 { fill: darkblue; }
.nvd3.bullet .title { font-size: 14px; font-weight: bold; }
.nvd3.bullet .subtitle { fill: #999; }




/**********
* Sparkline plus 
*/

.nvd3 .sparklineplus .hoverValue line {
  stroke: #f44;
  stroke-width: 1.5px;
 }

.nvd3 .sparklineplus,
.nvd3 .sparklineplus g {
  pointer-events: all;
}

.nvd3 .hoverArea {
  fill-opacity: 0;
  stroke-opacity: 0;
}

.nvd3 .sparklineplus .xValue,
.nvd3 .sparklineplus .yValue {
  stroke: #666;
  font-size: .5em;
  font-weight: normal;
}

.nvd3 .sparklineplus .yValue {
  stroke: #f66;
}

</style>


<select data-placeholder="Change graph" id="graph-select" class="chosen-select">
    <option value="{{ graph }}">{{ graph }}</option>
    {% for opt in graph_list %}
    {% if not opt == graph %}
    <option value="{{ opt }}">{{ opt }}</option>
    {% endif %}
    {% endfor %}
</select>

<select data-placeholder="Time window" id="time-window-select" class="chosen-select">
    <option value="{{ time_window }}">{{ time_window_list[time_window] }}</option>
    {% for k,v in time_window_list.items() %}
    {% if not k == time_window %}
    <option value="{{ k }}">{{ v }}</option>
    {% endif %}
    {% endfor %}
</select>

<br />
<br />
<div id="chart" style="width:100%; height:500px">
  <svg />
</div>

<script>

$('.chosen-select').chosen().change(chart_select);;

//$('#graph-select').change(function() {
//    draw_graph(this.value);
//    window.location.href = '/analytics/detail/' + this.value;
//});


function chart_select(chart_name, time_window) {
    var chart_name = $('#graph-select').val(),
        time_window = $('#time-window-select').val();
    url = '/analytics/detail/' + chart_name;
    if (time_window) url += '/' + time_window;
    window.location.href = url;
}

draw_graph('{{ graph }}');

//var chart = nv.models.stackedAreaChart().clipEdge(true);

function draw_graph(chart_name) {
// Wrapping in nv.addGraph allows for '0 timeout render', stors rendered charts in nv.graphs, and may do more in the future... it's NOT required
nv.addGraph(function() {
  
  //if (nv.graphs.length)
    //nv.graphs[0] = chart;
    //var chart = nv.graphs[0];
  //else
    //var chart = nv.models.stackedAreaChart().clipEdge(true);
    var chart = nv.models.lineChart();

    // chart sub-models (ie. xAxis, yAxis, etc) when accessed directly, return themselves, not the partent chart, so need to chain separately
  chart.xAxis
    .tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });
//    .tickFormat(function(d) { return d3.time.format('%m/%e %I:%M%p')(new Date(d)) });

  chart.yAxis
    .tickFormat(d3.format(',.3s'));

  var start = Math.round(new Date() / 1000);
  start = start - {{ time_window }};

  d3.json("/analytics/render"
      + "?name=" + encodeURIComponent(chart_name)
      + "&start=" +  start // need to use the last one...
      + "&step=60", function(data) {
    if (!data) return false;

    data = data.map(function(series) {
      series.values = series.values.map(function(d) {
        return { x: d[0], y: d[1] }
      });
      return series;
    });

    d3.select('#chart svg')
      .datum(data)
      .transition().duration(1000).call(chart);

  });


  //TODO: Figure out a good way to do this automatically
  nv.utils.windowResize(chart.update);
  //nv.utils.windowResize(function() { d3.select('#chart1 svg').call(chart) });

//  return chart;
});
}

/*
    //window.data.shift();
    //window.data.push(next());
    //redraw();
    //callback(null, data.map(function(d) { return d.value; }));

    $.each(data, function (data_index) {
        if (!window.data.hasOwnProperty(data_index)) {
            window.data[data_index] = this;
        } else {
            $.each(this.values, function () {
                if (window.data[data_index].values.length)
                    window.data[data_index].values.shift();
                window.data[data_index].values.push(this);
            });


            //console.log(this, key);
        });
    });

    var data = window.data.map(function(series) {
      series.values = series.values.map(function(d) {
        return { x: d[0], y: d[1] }
      });
      return series;
    });

    d3.select('#chart svg')
      .datum(window.data)
      .transition().duration(1000).call(chart);
*/

/*

var n = 4, // number of layers
    m = 120; // number of samples per layer
    //color = d3.interpolateRgb("#aad", "#556");

//format data to our liking, add keys
var data = stream_layers(n,m).map(function(data, i) {
  return { 
    key: 'Stream' + i,
    values: data
  };
});
*/


/*
var t = 1297110663, // start time (seconds since epoch)
    v = 0, // start value
    data = d3.range(33).map(next); // starting dataset


function next() {
  return {
    time: ++t,
    value: v = ~~Math.max(10, Math.min(90, v + 10 * (Math.random() - .5)))
  };
}

setInterval(function() {
  d3.json("/analytics/render"
      + "?name=" + encodeURIComponent('dmu_tx')
      + "&start=1297110663" // need to use the last one...
      + "&step=" + step, function(data) {
    if (!data) return false;
    data.shift();
    data.push(next());
    redraw();
    callback(null, data.map(function(d) { return d.value; }));
  });
}, 10000);
*/

/*
function test_data() {
  .map(function(series) {
    series.values = series.values.map(function(d) {
      return { x: d[0], y: d[1] }
    });
    return series;
  });
};
*/












</script>

<script>
/* Inspired by Lee Byron's test data generator. */
function stream_layers(n, m, o) {
  if (arguments.length < 3) o = 0;
  function bump(a) {
    var x = 1 / (.1 + Math.random()),
        y = 2 * Math.random() - .5,
        z = 10 / (.1 + Math.random());
    for (var i = 0; i < m; i++) {
      var w = (i / m - y) * z;
      a[i] += x * Math.exp(-w * w);
    }
  }
  return d3.range(n).map(function() {
      var a = [], i;
      for (i = 0; i < m; i++) a[i] = o + o * Math.random();
      for (i = 0; i < 5; i++) bump(a);
      return a.map(stream_index);
    });
}

/* Another layer generator using gamma distributions. */
function stream_waves(n, m) {
  return d3.range(n).map(function(i) {
    return d3.range(m).map(function(j) {
        var x = 20 * j / m - i / 3;
        return 2 * x * Math.exp(-.5 * x);
      }).map(stream_index);
    });
}

function stream_index(d, i) {
  return {x: i, y: Math.max(0, d)};
}


</script>

        </div>
    </div>
</div>

{% endblock %}

