{% extends "solarsan/base.html" %}

{% block title %}{% if title %}{{ title }} | {% endif %}SolarSAN Administration{% endblock %}
{% block header %}SolarSAN Administration{% if title %} | {{ title }}{% endif %}{% endblock %}

{% block css_site %}
{% for c in 'jquery/jquery.ui.selectmenu.css',
    'js/jquery-ui-git.css',
    'jquery/jquery-gentleSelect.css',
    'jquery/jquery-cron.css',
    'css/ui-lightness/jquery-ui-1.8.18.custom.css',
    'css/ui.jqgrid.css',
    %}
    <link type="text/css" href="{{ STATIC_URL }}{{ c }}" rel="stylesheet" />
{% endfor %}

<link type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700" rel="stylesheet" />

{% for j in 'js/jquery.js',
		'js/jquery-ui-git.js',
		'js/jquery.center.mlklc.js',
		'js/jquery.selectrange.mlklc.js',
		'js/jquery.corner.js',
		'js/jquery.jqGrid.js',
		'js/i18n/grid.locale-en.js',
		'js/jquery.form-defaults.js',
		'jquery/jquery-gentleSelect-min.js',
		'jquery/jquery-cron-min.js',
        '3rd/flot/jquery.flot.js',
        '3rd/flot/jquery.flot.crosshair.js'
		%}
		<script type="text/javascript" src="{{ STATIC_URL }}{{ j }}"></script>
	{% endfor %}
{% endblock %}

{% block js_jquery %}{% endblock %}

{% block post_content %}Localhost Solutions &copy; 2012{% endblock %}

