
<table class="table table-striped">
    <tr>
        <td>
            <b class="icon-help"></b> <button class="btn btn-primary">Pool: {{ pool.name }}</button>
            {% if pool.health == 'ONLINE' %}
                <button class="btn btn-success">{{ pool.health }}</button>
            {% elif pool.health == 'DEGRADED' %}
                <button class="btn btn-warning">{{ pool.health }}</button>
                <div class="alert alert-warning">This pool is in a <strong>DEGRADED</strong> state.</div>
            {% else %}
                <button class="btn btn-error">{{ pool.health }}</button>
                <div class="alert alert-error"><strong>ERROR</strong> This pool is in an errored state.</div>
            {% endif %}
        </td>
    </tr>
</table>

<pre>
{{ pool.__dict__|pprint }}
</pre>

