{% extends "base_page_detail.html" %}

{% block page_breadcrumbs_pre %}
<li class="static">
    <a href="/configure">configure</a>
    <span class="divider">&raquo;</span>
</li>
{% endblock %}

{% block page_content_sidenav_pre %}
{% endblock %}

{% block page_content_sidenav %}
    <li class="nav-header">Network Interfaces</li>
    <li class="page-content-select"><a href="/configure/network/interfaces/eth0">eth0</a></li>
    <li class="page-content-select"><a href="/configure/network/interfaces/eth1">eth1</a></li>
    <li class="page-content-select"><a href="/configure/network/interfaces/ib0">ib0</a></li>
    <li class="page-content-select"><a href="/configure/network/interfaces/ib1">ib1</a></li>
    <li class="nav-header">SolarSan Cluster</li>
    <li class="page-content-select"><a href="/configure/cluster/peers">Peers</a></li>
{% endblock %}

{% block page_content %}
    {% include 'configure/network_detail.html' %}
{% endblock %}

